openapi: 3.0.0
info:
  contact:
    name: Patagona GmbH
    url: https://patagona.de/
  title: Pricemonitor API
  version: 0.0.5209
servers:
- description: Production server
  url: https://api.patagona.de
security:
- BasicAuth: []
tags:
- description: Manage your account
  name: account
- description: Company management related endpoints
  name: companies
- description: Manage your data-feeds
  name: feeds
- description: Manage your orders
  name: orders
- description: View price recommendations
  name: pricerecommendations
- description: Manage your products
  name: products
- description: Manage your contract
  name: settings
- description: See all of your tasks
  name: tasks
paths:
  /api/1/{contractId}/products/analysis/pricerecommendations:
    get:
      operationId: getPriceRecommendations
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - description: Where to start fetching the recommendations
        example: 0
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Maximal number of results
        example: 100
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10000
          format: int32
          type: integer
        style: form
      - description: Timestamp of the oldest results
        example: 2019-01-01T00:00:00.000Z
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/definitions/GetPriceRecommendationsResponse'
          description: No response was specified
      summary: Get price recommendations (deprecated)
      tags:
      - pricerecommendations
  /api/2/companies:
    post:
      operationId: createCompany
      requestBody:
        content:
          application/json:
            schema:
              type: string
        description: The company's name
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCompanyApiResponse'
          description: No response was specified
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The company name may not be empty
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: User already belongs to a company
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The company could not be created
      summary: Allows users without one to create a new Company
      tags:
      - companies
  /api/2/companies/{companyId}/contracts:
    get:
      operationId: getCompanyContracts
      parameters:
      - example: 1
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompanyContractsApiResponse'
          description: No response was specified
      summary: Get all contracts for given company
      tags:
      - companies
    post:
      operationId: addCompanyContract
      parameters:
      - example: 1
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContractRequest'
        description: Contract to be added
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddCompanyContractApiResponse'
          description: No response was specified
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unable to add contract for company ID
      summary: Add contract for given company
      tags:
      - companies
  /api/2/m/contracts/{contractId}/settings/callbacks:
    delete:
      operationId: deleteCallbackSettingsManufacturerV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - settings
    get:
      operationId: getCallbacks
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Callbacks'
          description: '-'
        "404":
          description: Settings for this contract don't exist yet
      summary: Get callbacks
      tags:
      - settings
    put:
      operationId: putCallbacks
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Callbacks'
        description: Callbacks
        required: true
      responses:
        "200":
          description: '-'
        "404":
          description: Settings for this contract don't exist yet
      summary: Set callbacks
      tags:
      - settings
  /api/2/v/contracts/{contractId}/feeds:
    get:
      description: Feeds can contain offer-related information such as price recommendations.
        They can be configured to match individual demands.
      operationId: getFeeds
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Feed'
                type: array
                uniqueItems: true
          description: No response was specified
      summary: Get all feeds
      tags:
      - feeds
    post:
      operationId: postFeedVendorV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - feeds
  /api/2/v/contracts/{contractId}/feeds/{feedId}:
    delete:
      operationId: deleteFeedVendorV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: feedId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - feeds
    get:
      description: A feed can contain offer-related information such as price recommendations.
        Feeds can be configured to match individual demands.
      operationId: getFeed
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the feed
        explode: false
        in: path
        name: feedId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'
          description: No response was specified
        "404":
          description: Not found
      summary: Find feed by ID
      tags:
      - feeds
    put:
      operationId: putFeedVendorV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: feedId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - feeds
  /api/2/v/contracts/{contractId}/feeds/{feedId}/export/delta:
    delete:
      description: Dismiss already fetched feed-entries, so they will not be part
        of future responses.
      operationId: excludeFetchedFeedData
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the feed
        explode: false
        in: path
        name: feedId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'
          description: No response was specified
        "404":
          description: Not found
      summary: Dismiss already fetched feed-entries
      tags:
      - feeds
    get:
      operationId: getFeedExportDeltaVendorV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: feedId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: fileName
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - feeds
  /api/2/v/contracts/{contractId}/feeds/{feedId}/export/delta/{fileName}:
    get:
      description: In contrast of normal feeds, feed-deltas return only results, that
        are new since the last (DELETE-)request.
      operationId: getFeedExportDelta
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the feed
        explode: false
        in: path
        name: feedId
        required: true
        schema:
          type: string
        style: simple
      - description: fileName
        explode: false
        in: path
        name: fileName
        required: true
        schema:
          default: my-feed.csv
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'
            text/csv:
              schema:
                $ref: '#/components/schemas/Feed'
          description: No response was specified
        "404":
          description: Not found
      summary: Retrieve all feed-entries after last request
      tags:
      - feeds
  /api/2/v/contracts/{contractId}/feeds/{feedId}/export/{fileName}:
    get:
      description: Lets you download a file, containing all the data of the feed.
      operationId: getFeedExport
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the feed
        explode: false
        in: path
        name: feedId
        required: true
        schema:
          type: string
        style: simple
      - description: fileName
        explode: false
        in: path
        name: fileName
        required: true
        schema:
          default: my-feed.csv
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'
            text/csv:
              schema:
                $ref: '#/components/schemas/Feed'
          description: No response was specified
        "404":
          description: Not found
      summary: Export feed-data
      tags:
      - feeds
  /api/2/v/contracts/{contractId}/orders:
    post:
      operationId: postOrders
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com.patagona.pricemonitor.share.api.PostCustomerOrdersRequestV2'
        description: Orders to be added
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostOrdersBulkApiResponse'
          description: Successfully added orders
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostOrdersBulkApiResponse'
          description: Unable to add orders
      summary: Add orders in bulk
      tags:
      - orders
  /api/2/v/contracts/{contractId}/products:
    get:
      operationId: getProducts
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - description: "null"
        explode: false
        in: path
        name: attributes
        required: true
        schema:
          enum:
          - gtin
          - identifier
          - name
          - referencePrice
          - minPriceBoundary
          - maxPriceBoundary
          - tags
          - strategy
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Product'
                type: array
                uniqueItems: true
          description: No response was specified
      summary: Get all products
      tags:
      - products
    put:
      operationId: putProductsVendorV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - products
  /api/2/v/contracts/{contractId}/products/csv:
    put:
      description: |-
        Warning: Deletes all existing products.
                <br/>Note that this will not happen immediately. Instead, you receive the ID of a task that has been created.
                <br/>Furthermore you receive an URL which you can use to check if the task was executed successfully.
                <br>The csv file must contain following columns:
                <ul>
                  <li>productId - arbitrary string, can be used for the systems product id.</li>
                  <li>gtin - the GTIN of the product
                  <li>description - name or short description of the product
                  <li>referencePrice - arbitrary decimal number, usually the current price or recommended retail price (gross)
                  <li>minPriceBoundary - decimal number defining the lower price boundary (gross)
                  <li>maxPriceBoundary - decimal number defining the upper price boundary (gross)
                  <li>Additional columns are added as product tags. Tags are used for repricing strategies and several other
                  purpose.
                </ul>
                <br/>Column separator must be semicolon, the decimal separator must be dot. File encoding must be UTF-8.
      operationId: putCSVProducts
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          text/csv:
            schema:
              type: string
        description: CSV file containing the products
        required: true
      responses:
        "200":
          description: '-'
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskIdAndUrl'
          description: Accepted
      summary: Set products via CSV file
      tags:
      - products
  /api/2/v/contracts/{contractId}/result/offers:
    get:
      operationId: getOffers
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - description: Start product index for pagination
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: Number of products for pagination
        explode: true
        in: query
        name: limit
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: Timestamp of start of time range, formatted as ISO Date (i.e.
          2018-04-06T13:46:13Z) in UTC. If this value is omitted, the range is '{endDate}
          - 48 hours to {endDate}' if {endDate} is given or NOW - 48 hours if both
          are omitted.
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Timestamp of end of time range, formatted as ISO Date (i.e. 2018-04-06T13:46:13Z)
          in UTC. If this value is omitted, the range is '{startDate} to {startDate}
          + 48 hours' if {startDate} is given or NOW - 48 hours if both are omitted.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOffersResponse'
          description: No response was specified
      summary: Get all offers for all products
      tags:
      - products
  /api/2/v/contracts/{contractId}/result/pricerecommendations:
    get:
      operationId: getPriceRecommendation
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - description: Timestamp of start of time range, formatted as ISO Date (i.e.
          2018-04-06T13:46:13Z) in UTC
        explode: true
        in: query
        name: startTime
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: Timestamp of end of time range, formatted as ISO Date (i.e. 2018-04-06T13:46:13Z)
          in UTC
        explode: true
        in: query
        name: endTime
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: Start price-recommendation index for pagination
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: Number of price-recommendations for pagination
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPriceRecommendationApiResponse'
          description: No response was specified
      summary: Get all price recommendations
      tags:
      - pricerecommendations
  /api/2/v/contracts/{contractId}/settings/domains:
    get:
      operationId: getDomainsVendorV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: A list of configured domains is returned.
      tags:
      - internal
      - settings
    put:
      operationId: putDomains
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
        description: Settings
        required: true
      responses:
        "200":
          description: The domains setting for this contract was saved.
        "404":
          description: Settings for this contract do not exist yet
      summary: Set contract domains
      tags:
      - settings
  /api/2/v/contracts/{contractId}/tasks:
    get:
      description: The search can be narrowed down by providing the IDs of the tasks,
        separated by comma
      operationId: getTasksVendorV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - description: Ids of the tasks
        explode: true
        in: query
        name: taskIdsFilter
        required: false
        schema:
          type: string
        style: form
      - description: Desired task type
        explode: true
        in: query
        name: taskTypeFilter
        required: false
        schema:
          type: string
        style: form
      - description: Maximal number of results
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      - description: Flag whether to include failures in the response
        explode: true
        in: query
        name: includeFailures
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Comma separated task state filter
        explode: true
        in: query
        name: taskState
        required: false
        schema:
          type: string
        style: form
      - description: Oldest returned creation date in UTC
        explode: true
        in: query
        name: minCreationDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Newest returned creation date in UTC
        explode: true
        in: query
        name: maxCreationDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TaskWithContractResourceApiResponse'
                type: array
                uniqueItems: true
          description: No response was specified
      summary: Find all tasks
      tags:
      - tasks
    post:
      operationId: createTaskVendorV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - tasks
  /api/2/v/contracts/{contractId}/tasks/{taskId}:
    get:
      description: Returns a task, associated with a certain contract and identified
        by its ID
      operationId: getTaskVendorV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - description: Id of the task
        explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskWithContractResourceApiResponse'
          description: No response was specified
        "404":
          description: Not found
      summary: Find task by ID
      tags:
      - tasks
    put:
      operationId: updateTaskVendorV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - tasks
  /api/account:
    get:
      description: Returns the current user with its companies and contracts
      operationId: userInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.patagona.pricemonitor.share.api.UserInfo'
          description: No response was specified
      summary: Details of the current user
      tags:
      - account
    post:
      operationId: userSignup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSignupRequest'
        description: The user signup data
        required: true
      responses:
        "200":
          description: No response was specified
        "201":
          description: User was created and confirmation eMail was sent
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unable to create the user because of bad request data
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unable to create the user because of an unexpected error
      summary: Create a new user account in the Pricemonitor
      tags:
      - account
  /api/account/confirm/{token}:
    head:
      operationId: checkUserConfirmation
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: No response was specified
        "204":
          description: Confirmation token was found
        "404":
          description: No such confirmation token was found
      summary: Check if a specific confirmation token exists
      tags:
      - account
    post:
      operationId: confirmUser
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: string
        description: The password that should be set on the confirmed user
        required: true
      responses:
        "200":
          description: No response was specified
        "204":
          description: User was confirmed & logged in
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unable to confirm the user because of bad request data
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unable to confirm the user because of an unexpected error
      summary: Confirm an unconfirmed user
      tags:
      - account
  /api/v3/manufacturer/contracts/{contractId}/offers:
    get:
      description: Returns the newest offers for a given time range.
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - description: Where to start fetching the products
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Maximum number of results
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10000
          format: int32
          type: integer
        style: form
      - description: Timestamp of start of time range, formatted as ISO Date (i.e.
          2018-04-06T13:46:13Z) in UTC. If this value is omitted, the range is '{endDate}
          - 48 hours to {endDate}' if {endDate} is given or NOW - 48 hours if both
          are omitted.
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Timestamp of end of time range, formatted as ISO Date (i.e. 2018-04-06T13:46:13Z)
          in UTC. If this value is omitted, the range is '{startDate} to {startDate}
          + 48 hours' if {startDate} is given or NOW - 48 hours if both are omitted.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOffersApiResponse'
          description: A list of products with their corresponding offers.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Returned in case of invalid time range or a limit greater than
            10000.
      tags:
      - offers
  /api/v3/manufacturer/contracts/{contractId}/offers/stats/query:
    post:
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostOfferStatisticsRequest'
        description: The request body specifies which offers will be taken into account
          for the calculation of the offer statistics. The attribute names on the
          left side of the comparison filter must match the attribute names in an
          offer. The default use case is to specify a ComparisonFilter with a StringValueProvider
          on the left side pointing to the attribute productId, a SequenceOfStringValueProvider
          on the right side containing the productIds over which to calculate the
          offer statistics and a StringInSequence as a comparison. Please note that
          offer statistics can only be computed for 2500 products at a time.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatisticsByQueryApiResponse'
          description: Returns either an Error or a list of offer statistics, one
            for every product matching the given filter.
      tags:
      - products
  /api/v3/manufacturer/contracts/{contractId}/products:
    delete:
      operationId: deleteProductsManufacturerV3
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: updatedMax
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - products
    put:
      description: |-
        This operation is used to import products into the pricemonitor.
        This process is represented by a task, which is processed asynchronously.
        In the response you will receive a url which is used to check the status of the import process. <br>

        When the process is done all products in csv file from the request body will be in the pricemonitor.
        Products that were already present before have been updated and new products have been added. <br>

        Warning: All products that were in the pricemonitor before but are not present in the new import will be deleted.

        Identification of the products is done based on the identifying attributes (see parameter: patagona-product-identifying-attributes)
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - example: text/csv
        explode: false
        in: header
        name: content-type
        required: true
        schema:
          enum:
          - text/csv
          type: string
        style: simple
      - description: Comma separated list of csv columns that identify a product uniquely
        example: id-column
        explode: false
        in: header
        name: patagona-product-identifying-attributes
        required: true
        schema:
          type: string
        style: simple
      - description: Csv column that contains the product name
        example: name-column
        explode: false
        in: header
        name: patagona-product-name
        required: true
        schema:
          type: string
        style: simple
      - description: Csv column that contains the reference price
        example: reference-price-column
        explode: false
        in: header
        name: patagona-product-reference-price
        required: true
        schema:
          type: string
        style: simple
      - description: Csv column that contains the gtin
        example: gtin-column
        explode: false
        in: header
        name: patagona-product-gtin
        required: false
        schema:
          type: string
        style: simple
      - description: Csv column that contains an id (There is no requirement for this
          field to be unique)
        example: id-column
        explode: false
        in: header
        name: patagona-product-customer-id
        required: false
        schema:
          type: string
        style: simple
      - description: |-
          Decimal separator used for parsing numbers \
          The values for patagona-decimal-separator, patagona-csv-column-separator and patagona-csv-quotation-character must be different from one another. \
          Available values: ",", "."
        example: "."
        explode: false
        in: header
        name: patagona-decimal-separator
        required: true
        schema:
          type: char
        style: simple
      - description: |-
          The csv column separator \
          The values for patagona-decimal-separator, patagona-csv-column-separator and patagona-csv-quotation-character must be different from one another.
        example: ','
        explode: false
        in: header
        name: patagona-csv-column-separator
        required: true
        schema:
          type: char
        style: simple
      - description: |-
          The csv quotation character \
          The values for patagona-decimal-separator, patagona-csv-column-separator and patagona-csv-quotation-character must be different from one another.
        example: '"'
        explode: false
        in: header
        name: patagona-csv-quotation-character
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          text/csv:
            schema:
              type: string
        description: CSV file containing the products
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutProductsApiResponse'
          description: |-
            The field data.url in the returned object allows to check the status of the import process. It will point to the endpoint GET /api/2/v/contracts/{contractId}/tasks/{taskId}. \
            The field data.id is the task id corresponding to the product import.
      summary: Set products via CSV file
      tags:
      - products
  /api/v3/vendor/contracts/{contractId}/offers:
    get:
      description: Returns the newest offers for a given time range.
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - description: Where to start fetching the products
        example: 0
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Maximum number of results
        example: 10000
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10000
          format: int32
          type: integer
        style: form
      - description: Timestamp of start of time range, formatted as ISO Date (i.e.
          2018-04-06T13:46:13Z) in UTC. If this value is omitted, the range is '{endDate}
          - 48 hours to {endDate}' if {endDate} is given or NOW - 48 hours if both
          are omitted.
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Timestamp of end of time range, formatted as ISO Date (i.e. 2018-04-06T13:46:13Z)
          in UTC. If this value is omitted, the range is '{startDate} to {startDate}
          + 48 hours' if {startDate} is given or NOW - 48 hours if both are omitted.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOffersApiResponse'
          description: A list of products with their corresponding offers.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Returned in case of invalid time range or a limit greater than
            10000.
      tags:
      - offers
  /api/v3/vendor/contracts/{contractId}/offers/query:
    post:
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductOffersApiQuery'
        description: |-
          The request body specifies which offers will be searched for.<br>
          Warning: It's highly recommended to not use this endpoint since it is error-prone due to complex query structure!
          Supported are queries with three different types of filters:<br>
          1. Filtering for offers of a certain product<br> This can be done by a ComparisonFilter with
            * the `left` side being a `StringValueProvider` with the `attributeName` value "productId"
            * the `right` side being a `StringConstantValueProvider` with the `value` being the actual pricemonitor product ID to filter offers for
            * the `comparison` being a `StringEquality`

          2. Filtering for valid offers of a certain product<br> This can be done by an AndFilter with
            * a) A product filter (see first supported filter)
            * b) A NotFilter which contains a ComparisonFilter
              * the `left` side being a `NumberValueProvider` with the `attributeName` value "ignoredBy"
              * the `right` side being a `NumberConstantValueProvider` with the `value` being the numeric contract id to filter offers for
              * the `comparison` being a `NumberEquality`

          3. Filtering for offers of a certain vendor<br> This can be done by a ComparisonFilter with
            * the `left` side being a `StringValueProvider` with the `attributeName` value "reseller_name"
            * the `right` side being a `StringConstantValueProvider` with the `value` being the actual vendor name to filter offers for
            * the `comparison` being a `StringEquality`

          Note: This endpoint will only return the newest offers for each product for a given time range.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryOffersApiResponse'
          description: Returns either an Error or a list of ApiOffers matching the
            given filter.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Returned in case of unparsable request JSON or unsupported
            filter/sorting.
      tags:
      - offers
  /api/v3/vendor/contracts/{contractId}/offers/stats/query:
    post:
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostOfferStatisticsRequest'
        description: The request body specifies which offers will be taken into account
          for the calculation of the offer statistics. The attribute names on the
          left side of the comparison filter must match the attribute names in an
          offer. The default use case is to specify a ComparisonFilter with a StringValueProvider
          on the left side pointing to the attribute productId, a SequenceOfStringValueProvider
          on the right side containing the productIds over which to calculate the
          offer statistics and a StringInSequence as a comparison. Please note that
          offer statistics can only be computed for 2500 products at a time.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatisticsByQueryApiResponse'
          description: Returns either an Error or a list of offer statistics, one
            for every product matching the given filter.
      tags:
      - products
  /api/v3/vendor/contracts/{contractId}/orders:
    delete:
      operationId: deleteOrders
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOrdersApiResponse'
          description: Successfully deleted all orders
      summary: Delete all orders for this contract
      tags:
      - orders
    get:
      operationId: getOrdersVendorV3
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: start
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - orders
  /api/v3/vendor/contracts/{contractId}/products:
    delete:
      description: Delete all products or delete products by a last updated timestamp.
      operationId: deleteProducts
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - description: Last updated timestamp of products, formatted as ISO Date (i.e.
          2019-11-20T13:46:13Z) in UTC.<br> Products can be deleted which haven't
          been updated since the specified timestamp.<br> If the query parameter is
          missing all products are deleted.
        explode: true
        in: query
        name: updatedMax
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteProductsApiResponse'
          description: Returns the number of deleted products.
      summary: Delete products
      tags:
      - products
    post:
      description: |-
        This operation is used to import products into the pricemonitor:<br>
        Products that are already present will be updated and new products will be added. Identification of the products is done based on the identifying attributes, which need to be provided via the request body.<br><br>
        Attention:<br> This endpoint should only be used when dealing with large number of products at your side is an issue. Otherwise please use the PUT-counterpart of this endpoint which accepts products via a csv file.<br><br>
        Note:<br> This endpoint should be used in conjunction with: DELETE  /api/v3/vendor/contracts/{contractId}/products.<br><br>
        Procedure:<br> 1. Add your products in bulks with multiple requests via this endpoint.<br> 2. Send a DELETE request to /api/v3/vendor/contracts/{contractId}/products
           and set the parameter updatedMax to a date which is older or equal to your first request from step 1.
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - example: application/json
        explode: false
        in: header
        name: content-type
        required: true
        schema:
          enum:
          - application/json
          type: string
        style: simple
      - description: 'The decimal separator is used for parsing numbers in tags. English
          and German number formats are supported: dot and comma.'
        example: "."
        explode: false
        in: header
        name: patagona-tags-decimal-separator
        required: true
        schema:
          enum:
          - "."
          - ','
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostProductsRequest'
        description: The body contains the products which should be added
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkedPostProductsApiResponse'
          description: The response provides sorted import results in respective to
            the order of the provided products.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unable to add products because of invalid request data
      summary: Add products in bulk
      tags:
      - products
    put:
      description: |-
        This operation is used to import products into the pricemonitor.
        This process is represented by a task, which is processed asynchronously.
        In the response you will receive a url which is used to check the status of the import process. <br>

        When the process is done all products in csv file from the request body will be in the pricemonitor.
        Products that were already present before have been updated and new products have been added. <br>

        Warning: All products that were in the pricemonitor before but are not present in the new import will be deleted.

        Identification of the products is done based on the identifying attributes (see parameter: patagona-product-identifying-attributes)
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - example: text/csv
        explode: false
        in: header
        name: content-type
        required: true
        schema:
          enum:
          - text/csv
          type: string
        style: simple
      - description: Comma separated list of csv columns that identify a product uniquely
        example: id-column
        explode: false
        in: header
        name: patagona-product-identifying-attributes
        required: true
        schema:
          type: string
        style: simple
      - description: Csv column that contains the product name
        example: name-column
        explode: false
        in: header
        name: patagona-product-name
        required: true
        schema:
          type: string
        style: simple
      - description: Csv column that contains the reference price
        example: reference-price-column
        explode: false
        in: header
        name: patagona-product-reference-price
        required: true
        schema:
          type: string
        style: simple
      - description: Csv column that contains the min price
        example: min-price-column
        explode: false
        in: header
        name: patagona-product-min-price
        required: true
        schema:
          type: string
        style: simple
      - description: Csv column that contains the max price
        example: max-price-column
        explode: false
        in: header
        name: patagona-product-max-price
        required: true
        schema:
          type: string
        style: simple
      - description: Csv column that contains the gtin
        example: max-price-column
        explode: false
        in: header
        name: patagona-product-gtin
        required: false
        schema:
          type: string
        style: simple
      - description: Csv column that contains an id (There is no requirement for this
          field to be unique)
        example: id-column
        explode: false
        in: header
        name: patagona-product-customer-id
        required: false
        schema:
          type: string
        style: simple
      - description: |-
          Decimal separator used for parsing numbers \
          The values for patagona-decimal-separator, patagona-csv-column-separator and patagona-csv-quotation-character must be different from one another. \
          Available values: ",", "."
        example: "."
        explode: false
        in: header
        name: patagona-decimal-separator
        required: true
        schema:
          type: char
        style: simple
      - description: |-
          The csv column separator \
          It can be provided either as text or as Base64 encoded string (e.g. needed for tab as separator). \
          The values for patagona-decimal-separator, patagona-csv-column-separator and patagona-csv-quotation-character must be different from one another.
        example: ','
        explode: false
        in: header
        name: patagona-csv-column-separator
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The csv quotation character \
          The values for patagona-decimal-separator, patagona-csv-column-separator and patagona-csv-quotation-character must be different from one another.
        example: '"'
        explode: false
        in: header
        name: patagona-csv-quotation-character
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          text/csv:
            schema:
              type: string
        description: CSV file containing the products
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutProductsApiResponse'
          description: |-
            The field data.url in the returned object allows to check the status of the import process. It will point to the endpoint GET /api/2/v/contracts/{contractId}/tasks/{taskId}. \
            The field data.id is the task id corresponding to the product import.
      summary: Set products via CSV file
      tags:
      - products
  /api/v3/vendor/contracts/{contractId}/products/{productId}/extendedtags:
    get:
      operationId: getExtendedTags
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the product
        example: 1
        explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExtendedTagsApiResponse'
          description: Returns a list of ExtendedTags for the given product.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Given product does not exist.
      summary: Return the extended tags for the given product
      tags:
      - products
  /api/v3/vendor/contracts/{contractId}/plugin:
    delete:
      operationId: deletePluginRegistration
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PluginRegistrationEmptyApiResponse'
          description: Plugin registration for given contract deleted successfully.
      summary: Delete the plugin registration for given contract
      tags:
      - pluginregistration
    get:
      operationId: getPluginRegistration
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PluginRegistrationApiResponse'
          description: Returns a plugin registration for given contract.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Given plugin registration does not exist.
      summary: Return the plugin registration for given contract
      tags:
      - pluginregistration
    put:
      operationId: putPluginRegistration
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutPluginRegistrationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PluginRegistrationEmptyApiResponse'
          description: Plugin registration for given contract stored successfully.
      summary: Create and/or update the plugin registration for given contract
      tags:
      - pluginregistration
  /api/v3/log/messages:
    post:
      operationId: postLogMessages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogMessages'
        required: true
      responses:
        "200":
          description: The logs have been stored successfully.
      summary: Stores the log messages. This endpoint aims to improve the API-integration
        process. One could integrate the Pricemonitor API in his/her own system and
        publish the integration logs so that Patagona could analyze them.
      tags:
      - logs
  /controlpanel/api/companies:
    get:
      parameters:
      - description: Start of the pagination
        explode: false
        in: path
        name: start
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: simple
      - description: Number of elements per page
        explode: false
        in: path
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.patagona.pricemonitor.share.api.AdminCompanyV2'
          description: A list of companies was loaded
      summary: Get a list of all companies
      tags:
      - internal
      - controlpanel
    post:
      operationId: addCompany
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - controlpanel
  /controlpanel/api/contracts:
    get:
      operationId: getAllContracts
      responses:
        "200":
          description: A list of contracts was loaded
      summary: Get a list of all contracts
      tags:
      - internal
      - undocumented
      - controlpanel
  /controlpanel/api/portals:
    get:
      operationId: getAllPortals
      responses:
        "200":
          description: A list of portals was loaded
      summary: Get a list of all portals
      tags:
      - internal
      - undocumented
      - controlpanel
  /controlpanel/api/users:
    get:
      operationId: getAllUsers
      responses:
        "200":
          description: A list of users was loaded
      summary: Get a list of all users
      tags:
      - internal
      - undocumented
      - controlpanel
  /controlpanel/users:
    post:
      operationId: addUser
      responses:
        "200":
          description: A new user was added
      summary: Add a new user
      tags:
      - internal
      - undocumented
      - controlpanel
  /api/1/{contractId}/products/analysis/pricerecommendations/stats/{portal}:
    get:
      operationId: getStats
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: portal
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: until
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - pricerecommendations
  /api/1/{contractId}/products/analysis/timestamps:
    get:
      operationId: getTimeStamps
      parameters:
      - explode: false
        in: path
        name: contractId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - pricerecommendations
  /api/1/{contractId}/products/articlescountbyportal:
    get:
      operationId: getProductMetricsByContract
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: start
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: end
        required: true
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - offers
  /api/1/{contractId}/products/offers:
    get:
      operationId: rawOffers
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: start
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: until
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - offers
  /api/1/{contractId}/products/orderscountbyportal:
    get:
      operationId: getOrdersCountByPortalByContract
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - orders
  /api/1/{contractId}/products/sales:
    post:
      operationId: saveSales
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - products
  /api/1/{contractId}/settings:
    get:
      operationId: get
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - settings
    put:
      operationId: update
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - settings
  /api/1/{contractId}/settings/alerts:
    get:
      operationId: getAlertSettings
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - settings
    post:
      operationId: createAlertSettings
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - settings
  /api/1/{contractId}/settings/alerts/{alertId}:
    delete:
      operationId: deleteAlertSettings
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: alertId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - settings
    put:
      operationId: updateAlertSettings
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: alertId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - settings
  /api/1/{contractId}/settings/dynamicmonitoring:
    delete:
      operationId: deleteDynamicMonitoringSettings
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - settings
    get:
      operationId: getDynamicMonitoringSettings
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - settings
    put:
      operationId: putDynamicMonitoringSettings
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - settings
  /api/1/{contractId}/settings/include_delivery_costs:
    post:
      operationId: saveIncludeDeliveryCosts
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - settings
  /api/1/{contractId}/tasks:
    get:
      operationId: getTasks
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: tasks
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: attributes
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: taskType
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - tasks
    post:
      operationId: createTask
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - tasks
  /api/1/{contractId}/tasks/{taskId}:
    get:
      operationId: getTask
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - tasks
  /api/1/{contractId}/tasks/{taskId}/state:
    get:
      operationId: getTaskState
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - tasks
  /api/1/{contractId}/vendors/{vendor}/positions:
    post:
      operationId: positionDistribution
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: vendor
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: day
        required: true
        schema:
          format: date-time
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - offers
  /api/2/m/contracts/{contractId}:
    get:
      operationId: getManufacturerManufacturerV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - companies
  /api/2/m/contracts/{contractId}/products/csv:
    put:
      operationId: putProductsCSVManufacturerV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - products
  /api/2/m/contracts/{contractId}/products/tags:
    get:
      operationId: getTagsManufacturerV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - products
  /api/2/m/contracts/{contractId}/products/tags/{key}:
    get:
      operationId: getTagValuesManufacturerV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - products
  /api/2/m/contracts/{contractId}/result/contract/stats:
    get:
      operationId: statsManufacturerV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - description: A ISO 8601 timestamp which marks the end of a 48h time range
          in which the data is collected
        explode: true
        in: query
        name: session
        required: true
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.patagona.pricemonitor.share.api.ContractStats'
          description: 'Get the contract statistics: product count, vendor count,
            found offers count (filters applied), active portals count, found offers
            count (no filters applied)'
      tags:
      - internal
      - offers
  /api/2/m/contracts/{contractId}/result/offersegmentation:
    post:
      operationId: segmentOffersManufacturerV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - offers
  /api/2/m/contracts/{contractId}/result/pricecutters:
    post:
      operationId: getPriceCuttersManufacturerV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: session
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: includeDeliveryCosts
        required: true
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - offers
  /api/2/m/contracts/{contractId}/result/pricesbyday/productid/{productId}:
    post:
      operationId: pricesByDayByProductIdManufacturerV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - description: The product ID to filter for
        explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com.patagona.pricemonitor.share.api.PricesByDayByProductIdRequestV2'
        description: Query all known prices for a given day & product ID. Can be filtered
          by using the selectors.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.patagona.pricemonitor.share.api.PricesByDayByProductIdResponseV2'
          description: The list of all known prices for the queried day & product
            ID
      tags:
      - internal
      - offers
  /api/2/m/contracts/{contractId}/result/priceviolations:
    get:
      operationId: getProductPriceViolationsManufacturerV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: start
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: end
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: includeDeliveryCosts
        required: true
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: referencePriceDelta
        required: true
        schema:
          format: double
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - offers
  /api/2/m/contracts/{contractId}/result/timestamps:
    get:
      operationId: timestampsManufacturerV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - offers
  /api/2/m/contracts/{contractId}/result/validation:
    post:
      operationId: validateOffersManufacturerV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - offers
  /api/2/m/contracts/{contractId}/result/vendors/cheapest:
    post:
      operationId: getCheapestVendorsManufacturerV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: session
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: includeDeliveryCosts
        required: true
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - offers
  /api/2/m/contracts/{contractId}/result/vendors/domaindistribution:
    post:
      operationId: vendorsPerDomainManufacturerV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: session
        required: true
        schema:
          format: date-time
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - offers
  /api/2/m/contracts/{contractId}/result/vendors/list:
    post:
      operationId: getVendorsByDomainManufacturerV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: domain
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: start
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: includeDeliveryCosts
        required: true
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: session
        required: true
        schema:
          format: date-time
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - offers
  /api/2/m/contracts/{contractId}/settings/imagetag:
    put:
      operationId: putImageTagManufacturerV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
      - internal
      - undocumented
      - settings
  /api/2/m/contracts/{contractId}/settings/monitoring:
    get:
      description: Get the current monitoring settings for a given contract
      operationId: getMonitoringSettingsManufacturerV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: The current monitoring settings object
      tags:
      - internal
      - settings
    put:
      description: Update the monitoring settings for a given contract
      operationId: putMonitoringSettingsManufacturerV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: The monitoring settings object to be written to the database
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Returns the successfully updated monitoring settings object
      tags:
      - internal
      - settings
  /api/2/m/contracts/{contractId}/tasks:
    get:
      description: Returns a list of task objects for the given contract
      operationId: getTasksManufacturerV2
      parameters:
      - description: ID of the contract
        example: qbcxvb
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - description: Comma separated list of task IDs to filter for
        explode: true
        in: query
        name: taskIdsFilter
        required: false
        schema:
          type: string
        style: form
      - description: A list of task types to filter for
        explode: true
        in: query
        name: taskTypeFilter
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: A list of task states to filter for
        explode: true
        in: query
        name: taskState
        required: true
        schema:
          items:
            enum:
            - pending
            - executing
            - succeeded
            - failed
            type: string
          type: array
        style: form
      - description: Ignore all tasks created earlier than this date (ISO 8601)
        explode: true
        in: query
        name: minCreationDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Ignore all tasks created later than this date (ISO 8601)
        explode: true
        in: query
[...]
