openapi: 3.1.0
info:
  contact:
    name: Omnia Retail
    url: https://www.omniaretail.com/
  title: Omnia 2.0 API
  summary: >-
    This is the API powering Omnia 2.0 and Pricemonitor, containing operations
    that can also be used directly by customers from their own systems.
  description: >
    The Omnia 2.0 API is RESTful and provides access to the backend of Omnia 2.0
    and Pricemonitor. It is used to manage products, offers, contracts, and
    more.


    This API supports both public endpoints for customer integration and
    internal endpoints for platform management.

    All endpoints are authenticated using either Basic Authentication or JWT
    Bearer tokens.
  version: 0.0.7263
  x-logo:
    url: >-
      https://www.omniaretail.com/hubfs/Omnia%20Logo%20SVG/Omnia_Retail_Full_Colour_Logo_On_White_RGB.svg
    altText: Omnia Retail
  license:
    name: Omnia Retail API license
    url: https://www.omniaretail.com/legal/
servers:
  - url: https://api.patagona.de
    description: Production API
  - url: https://dev.patagona.de
    description: Staging API
tags:
  - name: overview
    x-displayName: Overview
    x-traitTag: true
    description: "Overview, explanation and pointers to the API documentation.\n\n# Introduction\n\nThe Omnia 2.0 API (also known as the Pricemonitor API) gives access to the superpowers behind the Omnia Retail platform.\n\nThe [Omnia 2.0 app](https://app.omniaretail.com/) and the [Pricemonitor app](https://pricemonitor.patagona.de/) are the main consumers of this API, but we also have endpoints available to customers to integrate the API directly with their own systems.\n\n# Common use cases for Omnia 2.0\n\nThese are the common API operations for customers to integrate Omnia with their own systems:\n\n- Retrieve market data\n- Retrieve price recommendations\n- Manage your product assortment\n- Provide offers for custom sources\n\n# Retrieving Data from the API\n\nOmnia supports four patterns for pulling data. Choose the one that best fits your latency and operational needs.\n\n| #     | Pattern                                  | When to use                                      |\n| ----- |------------------------------------------|--------------------------------------------------|\n| **1** | **Continuous polling** ***(preferred)*** | Near‑real‑time feed with minimal peak load       |\n| **2** | **Full data export**                     | Point‑in‑time snapshots or back‑fills            |\n| **3** | **Webhooks\_(callbacks)**                 | Push notifications after a price‑calculation run |\n| **4** | **Task‑based export**                    | Poll a *task* until `succeeded`, then fetch data |\n\n> **Why polling is preferred**\\\n> Continuous polling evens out traffic, avoids large \"catch‑up\" imports and delivers data as soon as it becomes available.\n\n---\n\n## 1. Continuous polling window logic\n\nAll polling examples use **15‑minute, aligned windows** and a **page size of 1,000 items**. This combination has proven to be the sweet‑spot between freshness and throughput.\n\n- **Alignment rule**\_– round the current time **down** to the nearest quarter hour (`:00`, `:15`, `:30`, `:45`).\\\n  *Example*: If it is `12:23`, the aligned time *T* is `12:15`.\n- **Window**\_– `endDate = T − 15 min`, `startDate = endDate − 15 min`.\n- **Next run**\_– repeat every 15 minutes; no need to persist `startDate` because it is derived from the current time.\n\n| Runtime | startDate | endDate |\n| ------- | --------- | ------- |\n| 12:00   | 11:30     | 11:45   |\n| 12:15   | 11:45     | 12:00   |\n| 12:30   | 12:00     | 12:15   |\n| …       | …         | …       |\n\n\n## 2. Full data export\n\nUse this pattern when you need the *entire* dataset for a specific point in time.\\\nCall the corresponding endpoint and page through the result set exactly as shown in the pagination section below.\n\n## 3. Webhooks\_(Callbacks)\n\nOmnia can send an HTTP\_POST callback as soon as a **price calculation task** finishes.\\\nThis push‑style integration is optional and complements the polling patterns.\n\n### Workflow\n\n1. **Register** an HTTPS endpoint **per contract** like described in the [Callback section](#tag/settings/Callbacks).\n2. When a price calculation task reaches the `succeeded` state, Omnia POSTs a JSON payload to your URL.\n3. Your service must respond with **HTTP\_2xx**.\n\n### Authentication\n\n\nYou can define custom headers for receiving callbacks. For example, Omnia can include a **Bearer token** in the `Authorization` header.\\\nAdvanced schemes are **not supported**.\n\n### Advantages\n\n- You receive a notification immediately after a price calculation is completed, avoiding the need for polling.\n\n### Limitations\n\n- **Single slot** – registering a new callback **replaces** the previous one; track your current value.\n- You must host an Internet‑reachable HTTPS endpoint.\n- Callbacks fire **only after price calculations**; there are none for market data scrapes or updates.\n- Only token‑based authentication is supported.\n\n> For the full payload schema and retry policy see the [Callback section](#tag/settings/Callbacks).\n\n## 4. Task‑based export\n\nA **task** is an asynchronous job such as *market data scrape* or *price calculation*.\n\n1. Poll the task endpoint until `state = succeeded` *(see the [Task section](#tag/tasks) for the exact status list).*\n2. Trigger a [full data export (pattern\_2)](#2-full-data-export) to download the result.\n\nRelevant task types:\n\n- `backend.tasks.pricemonitor.offers.monitoring`\_– market‑data retrieval\n- `backend.tasks.pricemonitor.offers.preprocessing`\_– price calculation\n\n# Retrieve market data via API\n\nUse `GET /api/v3/vendor/contracts/{contractId}/offers` to fetch the newest offers in the market as described [here](#operation/getOffersVendorV3).\n\n### Quick integration steps — Market data\n\n1. **Align to 15‑min window**\\\n   *T*\_=\_now rounded down to the nearest `:00 / :15 / :30 / :45`\\\n   `endDate = T − 15 min`, `startDate = endDate − 15 min`\n2. **Request**\\\n   `GET /api/v3/vendor/contracts/{contractId}/offers?startDate={startDate}&endDate={endDate}&limit=1000&start=0`\n3. **Page**\\\n   Repeat with `start=1000,2000,…` until the response contains < 1000 items.\n4. **Schedule**\\\n   Repeat every 15 minutes.\n\n# Retrieve price recommendations via API\n\nUse `GET /api/2/v/contracts/{contractId}/result/pricerecommendations` to fetch calculated prices as described [here](#operation/getPriceRecommendation).\n\n### Quick integration steps — Price recommendations\n\n1. **Align to 15‑min window** *(same logic as above)*\n2. **Request**\\\n   `GET /api/2/v/contracts/{contractId}/result/pricerecommendations?startTime={startDate}&endTime={endDate}&limit=1000&start=0`\n3. **Page**\\\n   Repeat with `start=1000,2000,…` until the response contains < 1000 items.\n4. **Schedule**\\\n   Repeat every 15 minutes.\n\n> **Tip** – Market data and price recommendations share the same window logic, so both polls can be executed by the same cron job.\n\n## Query products via API\n\nUse [this operation](#operation/queryProductsVendorV3) to retrieve products via a query. It supports returning paged results. We recommend to retrieve with a page size of 10,000 products.\n\n## Manage your product assortment\n\nUse [this operation](#operation/postProductsImportVendorV3) to upload your product assortment in JSON format. We recommend that you provide your product data in multiple parts via sequential requests to this endpoint. After providing all data, you need to delete the old data via [this operation](#operation/deleteProducts) by specifying a timestamp just before your import.\n\nIf you cannot use the JSON format, as a fallback, we support uploading your product assortment to our system in CSV format via [this operation](#operation/putProductsImportVendorV3).\n\n## Provide offers for custom sources\n\nUse [this operation](#operation/postOffersInABulkVendorV2) to provide external offers for your products to our system.\n\n# Pagination\n\nAPI endpoints can potentially return a lot of items. Returning all data as one response to one request can overload the server, the database or the client. Returning all items may even be unnecessary when the client is only interested in the top N entries. So API operations that could return a lot of data support pagination. The pagination approach used in the latest version of API operations is described here.\n\n## Pagination basics\n\nOperations that support pagination:\n\n- Return a subset of all matching items based on parameters in the request. Such a subset is called a page.\n- Return the requested page as an array within a `data` object within the response.\n- Can return all matching items by subsequently requesting multiple pages.\n\nThere are no subsequent matching items if the number of items in a response is smaller than the requested `limit`.\n\n### `limit` parameter\n\nThis parameter defines how many items are returned at most in a singe response. This is also called the page size.\n\nThe API documentation states the range that is allowed to be specified by the client.\n\n### `start` parameter\n\nThis parameter defines from which item in the total result set this request wants data to be returned. It basically defines what page should be returned. The index of the first item is 0\\. If the value of `start` is beyond the number of matching items, an empty `data` array is returned in the response.\n\nPagination itself only works when the entries have a stable sorting. This is the responsibility of the API.\n\n## Example of paginated requests\n\nTo request items with a page size of 1000, these are the pagination parameter values to be used for subsequent requests\n\nrequest # | start | limit\n--------- | ----- | -----\n1st       | 0     | 1000\n2nd       | 1000  | 1000\n3rd       | 2000  | 1000\n...       | ...   | ...\n\nSo the values for each subsequent request can be calculated by `start = previous start + limit`. All the other parameters of the API request must keep the same value to get stable sorting for a stable total result set.\n\nA response looks like this:\n\n```json\n{\n   \"data\": [\n      <item 1>,\n      <item 2>,\n      ...\n   ]\n}\n```\n\nThe client must compare the number of items in the `data` array with the used `limit` parameter. If they are equal there is likely a next page. If the number of items returned is less than the page size, there is no next page.\n\n> Note: In rare cases there is no next page even though the response has no less than a page size of items. E.g. when there are 2000 total items and using a page size of 1000\\. Here the client will make a request with `start=1000` and `limit=1000`. The response for this 2nd page request will have 1000 items. Then the client can't know in advance if there are further pages and it has to make an additional request. This third page request will return an empty array.\n\n# Authentication\n\nThe API supports two authentication methods with distinct use cases: _basic authentication_ and _JWT bearer token authentication_. For more details see below.\n\nIn short: for API integration with other systems or to explore the API, use _basic authentication_.\n\n## Basic authentication\n\n```\nSecurity Scheme Type: HTTP\nHTTP Authorization Scheme basic\n```\n\nUsed for:\n\n- API integration with other systems, like customer systems or plugins in webshops.\n- Exploring the API interactively via the API tester in the documentation.\n\n### Username\n\nThe username is the email address of a user account in _Omnia 2.0_ or _Pricemonitor_.\n\n### Password\n\nThe API password is:\n\n- Generated for _Omnia 2.0_ users via the _API access_ feature. Available in the user drop down menu top right in the Omnia 2.0 application.\n- For _Pricemonitor_ users the same password they use to sign in to Pricemonitor.\n\n> Note: For Omnia 2.0 users the API password is a different password than what is used for interactive logon to the web application. Also Single-Sign On users can generate an API password via the API access feature in Omnia 2.0.\n\n## JWT bearer token authentication\n\n```\nSecurity Scheme Type: HTTP\nHTTP Authorization Scheme bearer\nBearer format: \"JWT\"\n```\n\nUsed for:\n\n- The Omnia 2.0 web application to communicate with the API.\n\n> Note: This method is not usable for API integrations by customers as the tokens can only be obtained through interactive logon to the Omnia 2.0 web application by a person. These tokens expire quickly (they are valid for a maximum of 24 hours).\n"
  - name: products
    x-displayName: Products Management
    description: >-
      Operations to manage your products.


      # Import products


      We have two options: Either you provide the products as
      [JSON](#operation/postProductsImportVendorV3) or as
      [CSV](#operation/putProductsImportVendorV3). The product import via
      [JSON](#operation/postProductsImportVendorV3) is recommended.


      Notes:

      - When importing products, you need to provide an unique product
      identifier. We only allow importing products when they can be uniquely
      identified. In the very past we solely relied on GTIN for that, but not
      all customers have a GTIN. So we introduced the generic concept of the
      unique product identifier.

      - When importing products, you can additionally provide _tags_. These tags
      are key/value pairs (custom fields) which can be used to categorize your
      products: E.g. you could add the brand of the product.<br />The tag names
      need to be unique and non-empty.

      - In some endpoints we use caching for up to 5 minutes. So your newly
      imported products might need up to 5 minutes to get visible.

      - Timing is important: It's recommended to import products during a period
      when no monitorings are scheduled. Otherwise, the monitoring does not
      cover the most recently added products. A subsequent monitoring run will
      cover the previously added products.


      ## Recommended tags


      To get the most value out of the Omnia 2.0 insights dashboards, we
      recommend to include the following tag-keys in your imports. These product
      attributes can be used to drill-down into market and pricing insights.


      | Key | Description of value |

      | ---- | ------------------- |

      | brand | Values should include the brand of the respective product |

      | sku | If available, you can also include the stock keeping unit
      identifier |

      | amountInStock |  If available, you can also include the current stock
      level of each product |

      | topCategory  | Your product categories, highest level |

      | midCategory  | Your product categories, mid level |

      | lowCategory  |  Your product categories, lowest level |

      | purchasePrice | The purchase price of your product |

      | imageUrl | A url containing an image of your product |

      | logisticalCost | The logistical cost of your product |

      | recommendSellingPrice | The manufacturer suggested retail price or
      recommended retail price of your product |

      | vat | The Value Added Tax (VAT) for your product |


      Notes:

      - These fields are not mandatory for a successful import. They are
      optional, but recommended, to get the most value out of the insights in
      the UI of Omnia 2.0. If you intend to use them in the recommended way

      - The keys for the tags are case sensitive, so specify exactly as above.


      ## Import products via JSON (recommended)


      The preferred way to import products via API is via
      [JSON](#operation/postProductsImportVendorV3).


      This operation adds products to our system using _upsert_ (insert or
      update). It needs to be used in conjunction with a timestamp-based
      [product deletion operation](#operation/deleteProducts).


      The delete makes sure that old products, which are not part of your
      assortment anymore, are dropped from the system.


      Typical usage pattern:

      1. Remember the current time in UTC

      2. [Add products in chunks](#operation/postProductsImportVendorV3).
      Recommended chunk size: 1,000 products

      3. [Delete old products](#operation/deleteProducts) that are not needed in
      the system anymore by the timestamp from step 1 minus some extra buffer,
      e.g. one minute.


      ## Import products via CSV (not recommended)


      In order to provide products to our system you can send a CSV file via
      [this operation](#operation/putProductsImportVendorV3). This endpoint
      deactivates all current products and activates the ones which are provided
      via CSV.


      This creates a "task" at our side. Tasks are processed asynchronously.
      Typically, a big product import with 500K products takes 5-10 minutes. The
      mentioned endpoint returns a task id and a url where you can check the
      task state. Possible task states are: pending, executing, failed and
      succeeded. The last two states are representing a completed task. The task
      itself contains more details about how many products could get imported,
      which ones failed plus a preview failure list.


      When the product import successfully completed then the previously
      imported products have been deleted and only the ones which you have
      provided via CSV file are active in our system.


      # Query products


      Use [this operation](#operation/queryProductsVendorV3) to retrieve
      products via a query you specify in the request. It supports returning
      paged results. We recommend to retrieve with a page size of up to 10,000
      products.


      # Get all products


      Use [the query operation](#operation/queryProductsVendorV3) and just omit
      the query filter in the request. Results are paginated. A page size of at
      most 10,000 is recommended.


      # Determine internal product ids from your product ids


      Our system uses internal product ids that are distinct from your products
      ids. These internal product ids are sometimes referred to as
      _pricemonitor_ product ids.


      Often API operations require internal product ids to be specified. So you
      may need to map your product id onto our internal product id.


      There are two options:

      - Either you store the internal product ids after [importing
      products](#operation/postProductsImportVendorV3) into our system. The
      import operation returns the internal product ids for each imported
      product.

      - Or you map product ids on the fly when you need to by
      [querying](#operation/queryProductsVendorV3) specifying your product ids
      in the query. It's recommended to specify 1,000 product ids at once.
  - name: pricerecommendations
    x-displayName: Price Recommendations
    description: >
      Operations to get price recommendations calculated by our system.


      # Price recommendations and multiple domains


      > Note:

      > 1. Internally the system calculates a price recommendation for every
      domain

      > 2. As aggregation the system then provides the cheapest price
      recommendation

      >

      > Within the price recommendations we are providing a field called
      `relevantDomain`. This field contains from which domain the price
      recommendation originates.


      # Retrieve price recommendations


      ## Getting all price recommendations


      You can get all price recommendations via [this
      operation](#operation/getPriceRecommendation).


      It's a paginated endpoint, so you have to request multiple pages. See
      [pagination](#section/Pagination). Recommended page size is 1000.


      It's important that you define a timerange (by providing `startTime` and
      `endTime` parameters) in order to guarantee a stable pagination. This
      endpoint returns the most recent price recommendations per product and
      domain: This means that price recommendations from older price calculation
      runs within the provided timerange are ignored.
  - name: offers
    x-displayName: Offers
    description: "Operations to get and manage offers.\n\n# Provide offers for custom sources\n\nUse [this operation](#operation/postOffersInABulkVendorV2) to provide external offers for your products to our system.\nIt serves as an alternative to our automatic [domain-wise](#tag/domains) market data monitoring.\n\nTo use this operation, you need Omnia's internal product IDs.\nSee [how to determine internal product IDs](#tag/products).\n\n## Example\n\nHere is an example of a JSON body to provide one offer for one product via API.\n\n<details>\n<summary>Click to expand</summary>\n\n``` json\n[{\n\t\"productId\": \"67784570\",\n\t\"creationDate\": \"2024-06-11T00:15:07.099Z\",\n\t\"domain\": \"google.de\",\n\t\"offers\": [{\n\t\t\"vendorName\": \"amazon.de\",\n\t\t\"vendorDomainId\": 1,\n\t\t\"url\": \"https://www.amazon.de/-/en/dp/013142467X/\",\n\t\t\"price\": 58.84,\n\t\t\"deliveryCosts\": 9.95,\n\t\t\"currency\": \"EUR\",\n\t\t\"id\": \"636354d0-c865-4c56-84b3-bd9172e826aa\",\n\t\t\"productName\": \"Test item\",\n\t\t\"attributes\": [{\n\t\t\t\"key\": \"size\",\n\t\t\t\"value\": \"L\"\n\t\t}],\n\t\t\"maxDeliveryHours\": 48,\n\t\t\"minDeliveryHours\": 12,\n\t\t\"retrievalDate\": \"2024-06-11T10:50:45.659Z\",\n\t\t\"availability\": true\n\t}]\n}]\n```\n\n</details>\n\n## How It Works\n\nThis endpoint allows you to submit market data (\"offers\") for your products in bulk.\nOffers are submitted as *snapshots*.\n\nA **snapshot** is defined as:\n\n- a product\n- a domain (where the offers come from)\n- a timestamp\n- and a complete list of corresponding offers at that moment\n\nSnapshots form a **linear history** per product and domain.\nThat means:\n\n- You can only submit **newer** snapshots than the ones already stored.\n- Each snapshot must contain **all** relevant offers for that product + domain at that timestamp.\n- This endpoint is **append-only** - no edits or deletions of past offers are allowed.\n\nInternally, only the most recent snapshot is considered per product + domain, e.g., for price calculation or analytics.\n\nSnapshots are processed immediately after being accepted.\n\n## When to Send Offers\n\n- A regular daily import is a solid default.\n- Ideally submit offers before a price calculation tasks runs to ensure that recommended prices are based on up-to-date\n  data.\n- Real-time ingestion is supported.\n\n## Best Practices\n\n- Send up to **1,000 snapshots per request**.\n- Check if all snapshots are processed successfully by [analyzing the response](#response-interpretation).\n- Avoid single-snapshot requests if possible - batch requests are typically more efficient and faster.\n- Deduplicate and validate on the client side if possible.\n- Only include complete snapshots (i.e. all relevant offers for the product and domain at that time).\n- Avoid sending duplicate snapshots (e.g. previously stored ones), as they will be rejected.\n\n## Response Interpretation\n\nAnalyzing the response helps you quickly spot and fix invalid snapshots.\nSince each snapshot is validated separately, some may be accepted while others are rejected.\nResponses follow the same order as your input, so you can match and debug them easily.\n\nThe response is an array with one result per snapshot, matching the order of your input.\n\nEach item is either:\n\n- `true`: Snapshot accepted and stored.\n- An `ApiErrorResponse` object with details about the failure.\n\nThis allows you to match (`zip`) each response to your original input array.\n\nCommon reasons for rejection:\n\n- Product not part of the contract\n- Snapshot is older than what’s already stored\n- Conflicting snapshots submitted in same request\n- Invalid domain format\n- Duplicate offer IDs\n- Negative price or delivery costs\n\n## What Is a Domain?\n\n<details>\n<summary>Click to expand</summary>\n\nA **domain** is the origin of the offers. It refers to a website name - not a full URL.\nFor example, in `https://example.com/page`, the domain is `example.com`.\n\nExpected format:\n\n- Only use lowercase letters (`a–z`), digits (`0–9`), periods (`.`), and hyphens (`-`)\n- Each label (part between periods) must:\n    - Be 1-63 characters long\n    - Start and end with an alphanumeric character\n    - Not contain consecutive periods\n    - Not start or end with a hyphen\n- Total domain length must not exceed 255 characters\n\n**Examples**:\nValid: `example.com`, `shop.example.co.uk`\nInvalid: `-example.com`, `example..com`, `example_.com`, `example-.com`\n\n</details>\n\n# Retrieve offers\n\nUse [this operation](#operation/getOffersVendorV3) to get all offers for a contract. It's a paginated endpoint, so you have to scroll through all offers.\n\nIt's important that you define a timerange (by providing `startDate` and `endDate` parameters) in order to guarantee a stable pagination.\n\nThis endpoint returns the most recent offers per product and domain: This means that offers from older monitoring runs within the provided timerange are ignored.\n\n## Continuously retrieving offers\n\nFor continuously getting market data we recommend the following usage pattern:\n\nGet the offers for the last 15 minutes with a time offset of 15 minutes.\n\n| Runtime Timestamp | startDate | endDate |\n| ----------------- | --------- | ------- |\n| 12:00 | 11:30 | 11:45 |\n| 12:15 | 11:45 | 12:00 |\n| 12:30 | 12:00 | 12:15 |\n| …                     |\n\n> Note: The time offset is important since offers are not immediately visible via the API. Sometimes there is a slight delay in offer storing.\n\n\n\n\n\n"
  - name: feeds
    x-displayName: Feeds Management
    description: Manage your data-feeds.
  - name: account
    x-displayName: Users Management
    x-audience: Internal
    description: >-
      Operations to manage user accounts.


      This includes sign up, log in, and log out. Primarily used for user
      management.


      > Note: these operations should not be directly used by customers, but by
      the platform itself or by customers through the UI.
  - name: logs
    x-displayName: Logs Management
    description: >-
      Operations to store log messages in the system.


      You can integrate this API into your own system and publish integration
      logs to the system so that Omnia Retail can analyze them.
  - name: companies
    x-displayName: Company Management
    description: >-
      Operations for managing company entities, including creation, retrieval,
      and contract management.
  - name: orders
    x-displayName: Orders Management
    description: >-
      Operations for managing orders, including bulk order imports and order
      tracking.
  - name: settings
    x-displayName: Settings Management
    description: >
      Operations to manage the settings of contracts.

      Only a limited number of these operations are available to customers
      directly.


      # Callbacks


      You can register HTTP(S) callbacks in Omnia 2.0, which function as
      webhooks.

      Callbacks are triggered at the contract level when specific events occur
      within the system.


      Please note that multiple parties can register callbacks, so when
      modifying callbacks,

      you must ensure that you do not overwrite or delete callbacks registered
      by other parties.

      We strongly recommend including a unique name for each callback to help
      you identify them later.


      Callbacks are executed asynchronously as [tasks](#tag/tasks) within our
      system.

      To monitor the execution of these callbacks,

      you can track the corresponding tasks with the task type
      backend.tasks.pricemonitor.callback.


      For added security, you can register a token with your callback and/or
      whitelist our IP range

      to ensure secure communication.
  - name: tasks
    x-displayName: Tasks Management
    description: >-
      Operations to view and manage the tasks running in the platform. Customers
      can only view tasks.


      # What tasks are


      Tasks are asynchronously handled jobs in our system, like price
      calculation or monitoring jobs.


      You can use [this operation to find tasks for a
      contract](#operation/getTasksVendorV2).


      # Price calculation tasks


      A use case for the find tasks operation is to get the most recent
      completed price calculation task to see if it was successful or failed.
      And if it failed, what the failures were.


      ### Finding most recent price calculation tasks


      If you want to find the most recent completed price calculation task you
      need the following query parameters:


      ```

      limit=1

      includeFailures=true

      taskTypeFilter=backend.tasks.pricemonitor.offers.preprocessing

      taskState=succeeded,failed    // this only returns completed tasks.
      Currently running tasks are ignored

      ```


      Optional: You might want to adjust the queried timerange and specify
      `minCreationDate` and `maxCreationDate`. By default all tasks ever are
      queried.



      It can happen that there no price calculation has been run yet, then an
      empty list of tasks is returned.


      Apart from that these are the possible task states:


      | Task state | Description |

      | ---------- | ----------- |

      | succeeded | At least for one product a price calculation has been
      calculated |

      | failed | Either all price calculations for every product failed OR the
      whole price calculation process failed due to an unexpected error |


      If there are price calculation failures on a product level, you find the
      dedicated failures in the failures array of the task. Be aware: at most
      1000 failures are returned.


      If you want to have statistics for how many products a price has been
      calculated and how many price calculations failed on product level, then
      please take a look at the `result.operations.<successful/failed/total>`
      fields in the response.


      When a task completely fails then the response also provides a
      `failureCode` that is of interest.


      ### Example Responses


      #### Successful task


      <details>

      <summary>Click to expand</summary>


      ``` json

      {
        "state":"succeeded",
        "data":{
          "startTimestamp":"2023-05-08T14:40:00.213Z"
        },
        "result":{
          "operations":{
            "successful":28444,
            "failed":0,
            "total":28444
          }
        },
        "contractId":"gj8qu6",
        "failures":[

        ],
        "creationDate":"2023-05-08T15:41:46.545Z",
        "taskType":"backend.tasks.pricemonitor.offers.preprocessing",
        "finishDate":"2023-05-08T15:44:58.853Z",
        "userId":2156,
        "startDate":"2023-05-08T15:41:46.555Z",
        "taskId":"gj8qu6:1e318eee-3217-4ee7-a380-c6312935dcd1"
      }

      ```

      </details>


      #### Successful task with failures for some products


      <details>

      <summary>Click to expand</summary>


      ``` json

      {
        "state":"succeeded",
        "data":{
          "startTimestamp":"2023-05-07T10:05:00.230Z"
        },
        "result":{
          "operations":{
            "successful":2737,
            "failed":24,
            "total":2761
          }
        },
        "contractId":"f8kfq5",
        "failures":[
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282163",
              "exceptionMessage":"Can't modify min price to 21.6 since it violates the current boundary PriceBoundary(24.00,24.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57316814",
              "exceptionMessage":"Can't modify min price to 35.1 since it violates the current boundary PriceBoundary(35.15,39.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282223",
              "exceptionMessage":"Can't modify min price to 35.1 since it violates the current boundary PriceBoundary(35.15,39.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282324",
              "exceptionMessage":"Can't modify min price to 31.5 since it violates the current boundary PriceBoundary(32.18,35.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282861",
              "exceptionMessage":"Can't modify min price to 35.1 since it violates the current boundary PriceBoundary(35.15,39.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282118",
              "exceptionMessage":"Can't modify min price to 26.1 since it violates the current boundary PriceBoundary(27.73,29.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282152",
              "exceptionMessage":"Can't modify min price to 35.1 since it violates the current boundary PriceBoundary(35.15,39.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57316468",
              "exceptionMessage":"Can't modify min price to 521.1 since it violates the current boundary PriceBoundary(529.00,579.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282300",
              "exceptionMessage":"Can't modify min price to 4769.1 since it violates the current boundary PriceBoundary(4916.84,5299.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57317261",
              "exceptionMessage":"Can't modify min price to 125.10000000000001 since it violates the current boundary PriceBoundary(129.00,139.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282345",
              "exceptionMessage":"Can't modify min price to 1205.1000000000001 since it violates the current boundary PriceBoundary(1299.00,1339.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282464",
              "exceptionMessage":"Can't modify min price to 152.1 since it violates the current boundary PriceBoundary(162.84,169.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282168",
              "exceptionMessage":"Can't modify min price to 836.1 since it violates the current boundary PriceBoundary(899.00,929.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282165",
              "exceptionMessage":"Can't modify min price to 1205.1000000000001 since it violates the current boundary PriceBoundary(1299.00,1339.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282895",
              "exceptionMessage":"Can't modify min price to 1205.1000000000001 since it violates the current boundary PriceBoundary(1299.00,1339.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282307",
              "exceptionMessage":"Can't modify min price to 1205.1000000000001 since it violates the current boundary PriceBoundary(1299.00,1339.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282002",
              "exceptionMessage":"Can't modify min price to 332.1 since it violates the current boundary PriceBoundary(349.00,369.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282399",
              "exceptionMessage":"Can't modify min price to 1025.1000000000001 since it violates the current boundary PriceBoundary(1099.00,1139.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282374",
              "exceptionMessage":"Can't modify min price to 1025.1000000000001 since it violates the current boundary PriceBoundary(1099.00,1139.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282694",
              "exceptionMessage":"Can't modify min price to 836.1 since it violates the current boundary PriceBoundary(899.00,929.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282155",
              "exceptionMessage":"Can't modify min price to 836.1 since it violates the current boundary PriceBoundary(899.00,929.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282271",
              "exceptionMessage":"Can't modify min price to 836.1 since it violates the current boundary PriceBoundary(899.00,929.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282087",
              "exceptionMessage":"Can't modify min price to 1025.1000000000001 since it violates the current boundary PriceBoundary(1099.00,1139.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282489",
              "exceptionMessage":"Can't modify min price to 1025.1000000000001 since it violates the current boundary PriceBoundary(1099.00,1139.00)"
            }
          }
        ],
        "creationDate":"2023-05-09T10:05:00.230Z",
        "taskType":"backend.tasks.pricemonitor.offers.preprocessing",
        "finishDate":"2023-05-09T10:05:20.095Z",
        "userId":2156,
        "startDate":"2023-05-09T10:05:00.238Z",
        "taskId":"f8kfq5:44680e2e-2458-4a64-b8a4-edfd5fb2517f"
      }

      ```

      </details>


      #### Failed task with failures for all products


      <details>

      <summary>Click to expand</summary>



      ``` json

      {
        "state":"failed",
        "data":{
          "startTimestamp":"2023-05-09T04:00:02.974Z"
        },
        "result":{
          "operations":{
            "successful":0,
            "failed":93,
            "total":93
          }
        },
        "failureCode":"user.preprocessing.strategy.failure",
        "contractId":"tujamm",
        "failures":[
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"88673055",
              "exceptionMessage":"Can't modify max price to 0.0 since it violates the current boundary PriceBoundary(358.6128,1000000.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328105",
              "exceptionMessage":"Can't modify max price to 15.6975 since it violates the current boundary PriceBoundary(15.743,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328438",
              "exceptionMessage":"Can't modify max price to 62.947500000000005 since it violates the current boundary PriceBoundary(68.614,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328838",
              "exceptionMessage":"Can't modify max price to 9.397499999999999 since it violates the current boundary PriceBoundary(11.793600000000001,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356778",
              "exceptionMessage":"Can't modify max price to 555.45 since it violates the current boundary PriceBoundary(667.3758,1049.0)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763642",
              "exceptionMessage":"Can't modify max price to 335.9475 since it violates the current boundary PriceBoundary(402.94800000000004,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356961",
              "exceptionMessage":"Can't modify max price to 1154.9895000000001 since it violates the current boundary PriceBoundary(1340.1752000000001,2199.0)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68329414",
              "exceptionMessage":"Can't modify max price to 12.5475 since it violates the current boundary PriceBoundary(17.654,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763669",
              "exceptionMessage":"Can't modify max price to 10.4475 since it violates the current boundary PriceBoundary(15.2152,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328448",
              "exceptionMessage":"Can't modify max price to 98.64750000000001 since it violates the current boundary PriceBoundary(102.284,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68756226",
              "exceptionMessage":"Can't modify max price to 131.19750000000002 since it violates the current boundary PriceBoundary(152.3158,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328748",
              "exceptionMessage":"Can't modify max price to 4.1475 since it violates the current boundary PriceBoundary(4.2042,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"87832326",
              "exceptionMessage":"Can't modify max price to 12.5475 since it violates the current boundary PriceBoundary(16.1252,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68329058",
              "exceptionMessage":"Can't modify max price to 2.0475 since it violates the current boundary PriceBoundary(2.0566,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328749",
              "exceptionMessage":"Can't modify max price to 8.3475 since it violates the current boundary PriceBoundary(12.1394,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68329108",
              "exceptionMessage":"Can't modify max price to 46.14750000000001 since it violates the current boundary PriceBoundary(47.502,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356678",
              "exceptionMessage":"Can't modify max price to 418.95000000000005 since it violates the current boundary PriceBoundary(508.5262000000001,789.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"79044179",
              "exceptionMessage":"Can't modify max price to 16.7475 since it violates the current boundary PriceBoundary(19.747,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328597",
              "exceptionMessage":"Can't modify max price to 125.9475 since it violates the current boundary PriceBoundary(130.13,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763724",
              "exceptionMessage":"Can't modify max price to 12.600000000000001 since it violates the current boundary PriceBoundary(14.7056,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328344",
              "exceptionMessage":"Can't modify max price to 62.947500000000005 since it violates the current boundary PriceBoundary(63.7,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78762366",
              "exceptionMessage":"Can't modify max price to 1101.45 since it violates the current boundary PriceBoundary(1397.4142,1649.0)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"84641852",
              "exceptionMessage":"Can't modify max price to 31.4475 since it violates the current boundary PriceBoundary(39.13,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763514",
              "exceptionMessage":"Can't modify max price to 272.9475 since it violates the current boundary PriceBoundary(292.929,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78762367",
              "exceptionMessage":"Can't modify max price to 99.75 since it violates the current boundary PriceBoundary(103.77640000000001,139.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68327996",
              "exceptionMessage":"Can't modify max price to 68.1975 since it violates the current boundary PriceBoundary(71.8354,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68373053",
              "exceptionMessage":"Can't modify max price to 19.8975 since it violates the current boundary PriceBoundary(20.4932,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68865365",
              "exceptionMessage":"Can't modify max price to 488.25 since it violates the current boundary PriceBoundary(560.7420000000001,869.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328261",
              "exceptionMessage":"Can't modify max price to 57.697500000000005 since it violates the current boundary PriceBoundary(75.69380000000001,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68373051",
              "exceptionMessage":"Can't modify max price to 2.0475 since it violates the current boundary PriceBoundary(3.6946,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78762370",
              "exceptionMessage":"Can't modify max price to 2623.9500000000003 since it violates the current boundary PriceBoundary(3310.7984,3799.0)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78764192",
              "exceptionMessage":"Can't modify min price to 0.0 since it violates the current boundary PriceBoundary(0.01,1000000.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356770",
              "exceptionMessage":"Can't modify max price to 523.95 since it violates the current boundary PriceBoundary(606.2420000000001,949.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68566764",
              "exceptionMessage":"Can't modify max price to 3.0975 since it violates the current boundary PriceBoundary(3.5126,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"82558573",
              "exceptionMessage":"Can't modify max price to 13.5975 since it violates the current boundary PriceBoundary(22.677200000000003,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"71348897",
              "exceptionMessage":"Can't modify max price to 110.25 since it violates the current boundary PriceBoundary(130.40300000000002,159.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356779",
              "exceptionMessage":"Can't modify max price to 523.95 since it violates the current boundary PriceBoundary(597.324,929.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763130",
              "exceptionMessage":"Can't modify max price to 262.4475 since it violates the current boundary PriceBoundary(297.479,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328608",
              "exceptionMessage":"Can't modify max price to 15.6975 since it violates the current boundary PriceBoundary(18.436600000000002,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356767",
              "exceptionMessage":"Can't modify max price to 450.45000000000005 since it violates the current boundary PriceBoundary(484.66600000000005,759.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328114",
              "exceptionMessage":"Can't modify max price to 62.947500000000005 since it violates the current boundary PriceBoundary(65.52,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"88113739",
              "exceptionMessage":"Can't modify max price to 2.0475 since it violates the current boundary PriceBoundary(26.499200000000002,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"82891765",
              "exceptionMessage":"Can't modify max price to 104.9475 since it violates the current boundary PriceBoundary(164.10940000000002,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356775",
              "exceptionMessage":"Can't modify max price to 498.75 since it violates the current boundary PriceBoundary(570.9522,889.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67357075",
              "exceptionMessage":"Can't modify max price to 82.95 since it violates the current boundary PriceBoundary(100.71880000000002,119.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328424",
              "exceptionMessage":"Can't modify max price to 141.6975 since it violates the current boundary PriceBoundary(202.02,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356784",
              "exceptionMessage":"Can't modify max price to 119.7 since it violates the current boundary PriceBoundary(144.01659999999998,169.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763163",
              "exceptionMessage":"Can't modify max price to 57.697500000000005 since it violates the current boundary PriceBoundary(58.80420000000001,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763355",
              "exceptionMessage":"Can't modify max price to 15.6975 since it violates the current boundary PriceBoundary(16.616600000000002,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78762365",
              "exceptionMessage":"Can't modify max price to 681.45 since it violates the current boundary PriceBoundary(883.2278000000001,989.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"79044161",
              "exceptionMessage":"Can't modify max price to 9.397499999999999 since it violates the current boundary PriceBoundary(2682.6800000000003,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"79809361",
              "exceptionMessage":"Can't modify max price to 16.7475 since it violates the current boundary PriceBoundary(21.2394,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356786",
              "exceptionMessage":"Can't modify max price to 488.25 since it violates the current boundary PriceBoundary(560.7420000000001,879.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68329134",
              "exceptionMessage":"Can't modify max price to 16.7475 since it violates the current boundary PriceBoundary(32.123,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328205",
              "exceptionMessage":"Can't modify max price to 102.84750000000001 since it violates the current boundary PriceBoundary(119.70139999999999,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763330",
              "exceptionMessage":"Can't modify max price to 5.197500000000001 since it violates the current boundary PriceBoundary(8.5722,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763539",
              "exceptionMessage":"Can't modify max price to 125.9475 since it violates the current boundary PriceBoundary(133.2968,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763512",
              "exceptionMessage":"Can't modify max price to 24.0975 since it violates the current boundary PriceBoundary(31.668,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328857",
              "exceptionMessage":"Can't modify max price to 31.4475 since it violates the current boundary PriceBoundary(37.1826,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78762372",
              "exceptionMessage":"Can't modify max price to 114.45 since it violates the current boundary PriceBoundary(145.16320000000002,169.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328455",
              "exceptionMessage":"Can't modify max price to 136.4475 since it violates the current boundary PriceBoundary(192.37400000000002,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68647965",
              "exceptionMessage":"Can't modify max price to 26.1975 since it violates the current boundary PriceBoundary(27.937,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356782",
              "exceptionMessage":"Can't modify max price to 376.95 since it violates the current boundary PriceBoundary(397.54260000000005,619.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"79431469",
              "exceptionMessage":"Can't modify max price to 15.6975 since it violates the current boundary PriceBoundary(31.8136,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763460",
              "exceptionMessage":"Can't modify max price to 38.79750000000001 since it violates the current boundary PriceBoundary(134.64360000000002,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763601",
              "exceptionMessage":"Can't modify max price to 29.3475 since it violates the current boundary PriceBoundary(29.9936,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356833",
              "exceptionMessage":"Can't modify max price to 523.95 since it violates the current boundary PriceBoundary(617.9264,959.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68044131",
              "exceptionMessage":"Can't modify max price to 292.95 since it violates the current boundary PriceBoundary(364.6734,419.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"74301166",
              "exceptionMessage":"Can't modify max price to 166.95000000000002 since it violates the current boundary PriceBoundary(221.40300000000002,9999.0)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68329019",
              "exceptionMessage":"Can't modify max price to 6.2475000000000005 since it violates the current boundary PriceBoundary(12.776399999999999,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356722",
              "exceptionMessage":"Can't modify max price to 866.25 since it violates the current boundary PriceBoundary(1092.8736000000001,1249.0)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78764189",
              "exceptionMessage":"Can't modify max price to 52.447500000000005 since it violates the current boundary PriceBoundary(56.27440000000001,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78764000",
              "exceptionMessage":"Can't modify max price to 2.0475 since it violates the current boundary PriceBoundary(5.6602,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356768",
              "exceptionMessage":"Can't modify max price to 488.25 since it violates the current boundary PriceBoundary(560.924,879.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68329149",
              "exceptionMessage":"Can't modify max price to 20.9475 since it violates the current boundary PriceBoundary(23.0958,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"82278909",
              "exceptionMessage":"Can't modify max price to 69.2475 since it violates the current boundary PriceBoundary(114.66000000000001,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68647966",
              "exceptionMessage":"Can't modify max price to 26.1975 since it violates the current boundary PriceBoundary(27.937,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763897",
              "exceptionMessage":"Can't modify max price to 16.7475 since it violates the current boundary PriceBoundary(17.1444,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"75351547",
              "exceptionMessage":"Can't modify max price to 109.2 since it violates the current boundary PriceBoundary(128.856,239.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763641",
              "exceptionMessage":"Can't modify max price to 52.447500000000005 since it violates the current boundary PriceBoundary(60.06,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328459",
              "exceptionMessage":"Can't modify max price to 36.697500000000005 since it violates the current boundary PriceBoundary(45.427200000000006,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328752",
              "exceptionMessage":"Can't modify max price to 20.9475 since it violates the current boundary PriceBoundary(22.8592,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763678",
              "exceptionMessage":"Can't modify max price to 204.6975 since it violates the current boundary PriceBoundary(278.46000000000004,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"74301169",
              "exceptionMessage":"Can't modify max price to 261.45 since it violates the current boundary PriceBoundary(327.63640000000004,389.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68329012",
              "exceptionMessage":"Can't modify max price to 20.9475 since it violates the current boundary PriceBoundary(23.605400000000003,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763855",
              "exceptionMessage":"Can't modify max price to 13.5975 since it violates the current boundary PriceBoundary(17.672200000000004,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"81749897",
              "exceptionMessage":"Can't modify max price to 292.95 since it violates the current boundary PriceBoundary(326.5262,529.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67357159",
              "exceptionMessage":"Can't modify max price to 156.45000000000002 since it violates the current boundary PriceBoundary(225.8074,229.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356769",
              "exceptionMessage":"Can't modify max price to 603.75 since it violates the current boundary PriceBoundary(692.3462000000001,1089.0)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68329423",
              "exceptionMessage":"Can't modify max price to 10.4475 since it violates the current boundary PriceBoundary(10.92,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68327990",
              "exceptionMessage":"Can't modify max price to 146.9475 since it violates the current boundary PriceBoundary(148.3664,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356697",
              "exceptionMessage":"Can't modify max price to 1395.45 since it violates the current boundary PriceBoundary(1826.7340000000002,1999.0)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"87832348",
              "exceptionMessage":"Can't modify max price to 10.4475 since it violates the current boundary PriceBoundary(15.834,2701.87)"
            }
          }
        ],
        "creationDate":"2023-05-09T04:00:53.558Z",
        "taskType":"backend.tasks.pricemonitor.offers.preprocessing",
        "finishDate":"2023-05-09T04:00:59.213Z",
        "userId":2156,
        "startDate":"2023-05-09T04:00:54.677Z",
        "taskId":"tujamm:49329f97-62ff-4c65-89af-062432e82095"
      }

      ```

      </details>


      #### Unexpected failed task


      <details>

      <summary>Click to expand</summary>


      ``` json

      {
        "state":"failed",
        "data":{
          "startTimestamp":"2023-05-09T08:00:01.217Z"
        },
        "failureCode":"pricemonitor.uncategorized.failure",
        "contractId":"97j8f7",
        "failures":[
          {
            "messageId":"backend.tasks.pricemonitor.offers.preprocessing.unknownFailure",
            "attributes":{
              "error":"backend.tasks.pricemonitor.offers.preprocessing.unknownFailure",
              "exception":"scala.MatchError",
              "exceptionMessage":"null"
            }
          }
        ],
        "creationDate":"2023-05-09T09:09:18.888Z",
        "taskType":"backend.tasks.pricemonitor.offers.preprocessing",
        "finishDate":"2023-05-09T09:09:19.010Z",
        "userId":2156,
        "startDate":"2023-05-09T09:09:18.898Z",
        "taskId":"97j8f7:9a026a7a-5195-4cc4-b6b5-ceeb8cb431fa"
      }

      ```

      </details>
  - name: strategy
    x-displayName: Strategies Management
    description: Operations to view and manage pricing strategies.
  - name: scenariostrategy
    x-displayName: Scenario Strategies Management
    x-audience: Internal
    description: Operations to manage scenario strategies for pricing simulations.
  - name: domains
    x-displayName: Domains
    description: >-
      Operations to view all supported domains.


      A domain is an external datasource or website that contains information
      about offers for products for sale. Information like product
      characteristics and sales characterics like price, stock level and
      delivery times and costs.
  - name: controlpanel
    x-displayName: Control Panel
    x-audience: Internal
    description: Administrative operations used by the control panel interface.
  - name: feature-flags
    x-displayName: Feature Flags
    x-audience: Internal
    description: >-
      Administrative operations to manage feature flags for controlling
      application features.
  - name: pluginregistration
    x-displayName: Plugin Registration
    description: Operations to view and manage registered plugins for system integration.
  - name: looker
    x-displayName: Looker
    x-audience: Internal
    description: Operations to manage Looker dashboards and analytics integration.
  - name: amazon-integration
    x-displayName: Amazon Integration
    x-audience: Internal
    description: Operations to manage Amazon integration and marketplace connectivity.
  - name: monitoring-schedules
    x-displayName: Monitoring Schedules
    x-audience: Internal
    description: Operations to manage monitoring schedules for automated price monitoring.
  - name: preprocessing
    x-displayName: Pre-processing
    x-audience: Internal
    description: Operations to manage data pre-processing pipelines and tasks.
  - name: vendor-shop-mapping
    x-displayName: Vendor Shop Mapping
    x-audience: Internal
    description: Operations to manage vendor shop mappings and associations.
  - name: deprecated
    x-displayName: Deprecated
    x-audience: Internal
    description: >-
      **⚠️ DEPRECATED:** All operations that are deprecated and should no longer
      be used, including internal usage.
  - name: internal
    x-displayName: Internal Only
    x-audience: Internal
    description: >-
      **🔒 INTERNAL:** All operations not intended for direct consumption by
      customers.


      > Note: Used exclusively by the platform itself and internal systems.
  - name: undocumented
    x-displayName: Undocumented
    x-audience: Internal
    description: >-
      **📝 UNDOCUMENTED:** All operations that are not yet fully documented.


      > Note: All operations intended for public usage should be properly
      documented.
  - name: SchedulerOverview
    description: >-
      The Scheduler API operations allow for creating, updating, deleting and
      listing jobs for a contract.


      One can create jobs which get executed on a given schedule. The possible
      types for a job are fixed and defined in the `patagona-scheduler-core`.
      See the [README](https://github.com/patagona/scheduler) for more
      information.


      **Note:**  Scheduling job types unknown to the scheduler will result in
      errors.


      **Note:** For more information on the Dkron types, see the [API
      documentation of Dkron](https://dkron.io/api/).
    x-displayName: Scheduler Overview
    x-traitTag: true
  - name: Jobs
    description: Operations on scheduler jobs.
    x-displayName: Scheduler Jobs
paths:
  /api/v3/vendor/contracts/{contractId}/settings/repricingstrategy/history:
    x-audience: Internal
    get:
      deprecated: true
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPricingStrategyHistoryApiResponse'
          description: List of metadata of all strategy versions
      summary: Get metadata of all strategy versions for contract
      description: >
        **⚠️ DEPRECATED:** This endpoint is deprecated and should no longer be
        used.


        Retrieves a list of metadata for all pricing strategy versions
        associated with a specific contract.

        Use
        `/api/v3/vendor/contracts/{contractId}/settings/pricingstrategies/history`
        instead.
      operationId: getStrategyHistory
      tags:
        - deprecated
        - strategy
      security:
        - BasicAuth: []
        - BearerAuth: []
  /api/v3/vendor/contracts/{contractId}/settings/pricingstrategies/history:
    get:
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPricingStrategyHistoryApiResponse'
          description: List of metadata of all strategy versions
      summary: Get all strategy versions metadata for contract
      description: >
        Retrieves a list of metadata for all pricing strategy versions
        associated with a specific contract.


        This endpoint provides version history information including creation
        dates, modification timestamps,

        and strategy metadata for tracking changes over time.
      operationId: getPricingStrategyHistory
      tags:
        - strategy
      security:
        - BasicAuth: []
        - BearerAuth: []
  /api/v3/vendor/contracts/{contractId}/settings/pricingstrategies/scenarios:
    x-audience: Internal
    get:
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: >-
                    #/components/schemas/ScenarioStrategyMetadataResponseApiResponse
          description: List of all scenario strategy metadata
      summary: Get all scenario strategies
      description: >
        **🔒 INTERNAL:** Retrieves a list of all scenario strategy metadata for
        a specific contract.


        Scenario strategies are used for pricing simulations and "what-if"
        analysis. Each strategy

        contains metadata including creation date, version information, and
        configuration details.
      operationId: getAllScenariosMetadata
      tags:
        - scenariostrategy
        - internal
      security:
        - BasicAuth: []
        - BearerAuth: []
    post:
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostScenarioStrategyResponseApiResponse'
          description: Scenario strategy created successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: >
            Request validation failed. Common reasons include:

            - Strategy configuration is invalid or inconsistent with the schema
            version

            - Required fields are missing or empty

            - Invalid JSON structure
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostScenarioStrategyRequest'
        description: >-
          The scenario strategy to be created, including the necessary metadata
          and configuration.
      operationId: addPricingStrategyScenario
      summary: Add scenario strategy
      description: >
        **🔒 INTERNAL:** Creates a new scenario strategy for pricing
        simulations.


        Scenario strategies allow for "what-if" pricing analysis and testing
        different

        pricing approaches before applying them to live products.
      tags:
        - scenariostrategy
        - internal
      security:
        - BasicAuth: []
        - BearerAuth: []
  /api/v3/vendor/contracts/{contractId}/settings/pricingstrategies/scenarios/{scenarioId}:
    x-audience: Internal
    get:
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
        - description: ID of the required scenario strategy
          in: path
          name: scenarioId
          required: true
          schema:
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScenarioStrategyResponse'
          description: Scenario strategy details retrieved successfully
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Scenario strategy with the provided ID was not found.
      operationId: getScenarioById
      summary: Get scenario strategy
      description: |
        **🔒 INTERNAL:** Retrieves a specific scenario strategy by its ID.

        Returns the complete scenario strategy configuration including metadata,
        creation details, and the strategy definition.
      tags:
        - scenariostrategy
        - internal
      security:
        - BasicAuth: []
        - BearerAuth: []
  /api/v3/domains:
    get:
      operationId: getAllDomainsV3
      summary: Get all available domains
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllDomainsV3ApiResponse'
              example:
                data:
                  domains:
                    - domain: amazon.de
                      domainId: 1
                      offerSources:
                        - DEFAULT_MONITORING
                        - PUSH_API
                      name: Amazon Deutschland
          description: List of all supported domains with their configurations
      description: >
        Retrieves all domains supported by the system for market data
        collection.


        Each domain includes:

        - Available offer sources for market data collection

        - Configuration parameters


        **Note:** Only domains with the `DEFAULT_MONITORING` offer source are
        supported

        out-of-the-box by the monitoring pipeline.
      tags:
        - domains
      security:
        - BasicAuth: []
        - BearerAuth: []
  /controlpanel/api/v3/domains:
    x-audience: Internal
    post:
      operationId: postAdminAddDomainV3
      summary: Add domain
      description: >
        **🔒 INTERNAL:** Adds a new domain to the system for price monitoring.


        This administrative operation creates a new domain configuration with
        the specified

        offer sources and monitoring capabilities.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAdminAddDomainV3ApiResponse'
          description: Domain added successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: |
            Request validation failed. Common issues include:
            - Offer sources must be valid and non-empty
            - Domain must be a valid internet domain and non-empty
            - Domain name must be unique
            - Invalid configuration parameters
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/com.patagona.pricemonitor.share.api.PostAdminAddDomainBodyV3
        description: >-
          The domain configuration to be added, including offer sources and
          monitoring settings
      tags:
        - controlpanel
        - internal
      security:
        - BasicAuth: []
        - BearerAuth: []
  /controlpanel/api/v3/domains/{domain}:
    x-audience: Internal
    parameters:
      - $ref: '#/components/parameters/domainParam'
    put:
      summary: Update or add domain
      description: >
        **🔒 INTERNAL:** Updates an existing domain configuration or creates a
        new domain if it doesn't exist.


        This operation supports both creation and modification of domain
        configurations,

        allowing administrative management of supported monitoring domains.
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutAdminDomainResponseV3ApiResponse'
          description: Domain was updated or created successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: |
            Request validation failed. Common issues include:
            - Offer sources must be valid
            - Domain must be a valid internet domain and non-empty
            - Domain name must be unique
            - Invalid configuration parameters
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/com.patagona.pricemonitor.share.api.PutAdminDomainRequestV3
        description: >-
          The domain configuration to be updated or created, including offer
          sources and monitoring settings
      operationId: putAdminDomainControlPanelV3
      tags:
        - internal
        - controlpanel
      security:
        - BasicAuth: []
        - BearerAuth: []
  /version:
    x-audience: Internal
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionApiResponse'
          description: Current application version.
      tags:
        - controlpanel
        - internal
      operationId: version
      summary: Get application version
      description: Get the current application version
      security: []
  /controlpanel/api/feature-flags:
    x-audience: Internal
    get:
      operationId: getAllFeatureFlags
      summary: Get all feature flags
      description: >
        **🔒 INTERNAL:** Retrieves a list of all feature flags configured in the
        system.


        Feature flags are used to control the availability of application
        features

        and can be managed through the control panel interface.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllFeatureFlagsApiResponse'
          description: List of all feature flags
      tags:
        - feature-flags
        - controlpanel
        - internal
      security:
        - BasicAuth: []
        - BearerAuth: []
    post:
      operationId: createFeatureFlag
      summary: Create feature flag
      description: >
        **🔒 INTERNAL:** Creates a new feature flag in the system.


        Feature flags must have a unique key that follows the pattern
        `[a-zA-Z0-9._-]+`

        and cannot exceed 128 characters in length.
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/com.patagona.pricemonitor.share.api.PostFeatureFlagRequest
        description: The feature flag to be created
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFeatureFlagApiResponse'
          description: Feature flag created successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: >
            Request validation failed. Common reasons include:

            - Invalid flag key format (must be alphanumeric, dot, underscore, or
            dash)

            - Flag key already exists

            - Flag name is empty or too long

            - Description exceeds maximum length
      tags:
        - feature-flags
        - controlpanel
        - internal
      security:
        - BasicAuth: []
        - BearerAuth: []
  /controlpanel/api/feature-flags/{key}:
    x-audience: Internal
    parameters:
      - description: Feature flag key identifier
        in: path
        name: key
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9._-]+$
          maxLength: 128
        example: api.v2.enabled
    get:
      operationId: getFeatureFlagByKey
      summary: Get feature flag by key
      description: |
        **🔒 INTERNAL:** Retrieves a specific feature flag by its key.

        Returns the feature flag configuration including metadata such as
        creation and update timestamps.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFeatureFlagByKeyApiResponse'
          description: Feature flag details retrieved successfully
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Feature flag with the specified key was not found
      tags:
        - feature-flags
        - controlpanel
        - internal
      security:
        - BasicAuth: []
        - BearerAuth: []
    put:
      operationId: updateFeatureFlag
      summary: Update feature flag
      description: >
        **🔒 INTERNAL:** Updates an existing feature flag's name and
        description.


        The feature flag key cannot be changed after creation. Only the

        display name and description can be updated.
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/com.patagona.pricemonitor.share.api.PutFeatureFlagRequest
        description: The feature flag updates to be applied
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateFeatureFlagApiResponse'
          description: Feature flag updated successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: |
            Request validation failed. Common reasons include:
            - Flag name is empty or too long
            - Description exceeds maximum length
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Feature flag with the specified key was not found
      tags:
        - feature-flags
        - controlpanel
        - internal
      security:
        - BasicAuth: []
        - BearerAuth: []
    delete:
      operationId: deleteFeatureFlag
      summary: Delete feature flag
      description: |
        **🔒 INTERNAL:** Deletes a feature flag from the system (soft delete).

        The feature flag is marked as deleted but preserved in the database
        for audit purposes. Once deleted, the flag key becomes unavailable
        for new flags.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: Feature flag deleted successfully
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Feature flag with the specified key was not found
      tags:
        - feature-flags
        - controlpanel
        - internal
      security:
        - BasicAuth: []
        - BearerAuth: []
  /api/1/{contractId}/products/analysis/pricerecommendations:
    x-audience: Internal
    get:
      deprecated: true
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
        - description: Where to start fetching the recommendations
          in: query
          name: start
          required: false
          example: 0
          schema:
            default: 0
            format: int32
            type: integer
        - description: Maximal number of results
          in: query
          name: limit
          required: false
          example: 100
          schema:
            default: 10000
            format: int32
            type: integer
        - description: Timestamp of the oldest results
          in: query
          name: since
          required: false
          example: '2019-01-01T00:00:00.000Z'
          schema:
            format: date-time
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPriceRecommendationsResponse'
          description: No response was specified
      tags:
        - pricerecommendations
        - deprecated
      operationId: getPriceRecommendations
      summary: Get price recommendations
      security:
        - BasicAuth: []
        - BearerAuth: []
    parameters:
      - $ref: '#/components/parameters/contractIdParam'
  /api/2/companies:
    post:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCompanyApiResponse'
          description: Information about the created company.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The company name may not be empty.
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: User already belongs to a company.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The company could not be created.
      tags:
        - companies
      operationId: createCompany
      requestBody:
        content:
          application/json:
            schema:
              type: string
        description: The company's name
        required: true
      summary: Create company
      description: Allows users without a company to create a new company.
      security:
        - BasicAuth: []
        - BearerAuth: []
  /api/2/companies/{companyId}/contracts:
    parameters:
      - $ref: '#/components/parameters/companyIdParam'
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompanyContractsApiResponse'
          description: No response was specified
      tags:
        - companies
      operationId: getCompanyContracts
      summary: Get all contracts for company
      description: Get all contracts for the given company.
      security:
        - BasicAuth: []
        - BearerAuth: []
    post:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddCompanyContractApiResponse'
          description: No response was specified
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unable to add contract for company ID
      tags:
        - companies
      operationId: addCompanyContract
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/com.patagona.pricemonitor.share.api.CreateContractRequest
        description: Contract to be added
        required: true
      summary: Add contract for company
      description: Add a contract for the given company.
      security:
        - BasicAuth: []
        - BearerAuth: []
  /api/2/m/contracts/{contractId}/settings/callbacks:
    x-audience: Internal
    parameters:
      - $ref: '#/components/parameters/contractIdParam'
    get:
      operationId: getCallbacks
      summary: Get callbacks [manufacturer]
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/com.patagona.pricemonitor.share.api.Callbacks
          description: '-'
        '404':
          description: Settings for this contract don't exist yet
      tags:
        - settings
        - internal
      security:
        - BasicAuth: []
        - BearerAuth: []
    put:
      operationId: putCallbacks
      summary: Update callbacks [manufacturer]
      tags:
        - settings
        - internal
      responses:
        '200':
          description: '-'
        '404':
          description: Settings for this contract don't exist yet
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/com.patagona.pricemonitor.share.api.Callbacks
        description: Callbacks
        required: true
      security:
        - BasicAuth: []
        - BearerAuth: []
    delete:
      operationId: deleteCallbackSettingsManufacturerV2
      summary: Delete callbacks [manufacturer]
      tags:
        - internal
        - undocumented
        - settings
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      security:
        - BasicAuth: []
        - BearerAuth: []
  /api/2/v/contracts/{contractId}/feeds:
    get:
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Feed'
                type: array
                uniqueItems: true
          description: No response was specified
      tags:
        - feeds
      description: >-
        Feeds can contain offer-related information such as price
        recommendations. They can be configured to match individual demands.
      operationId: getFeeds
      summary: Get all feeds
      security:
        - BasicAuth: []
        - BearerAuth: []
    post:
      x-audience: Internal
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
        - internal
        - undocumented
        - feeds
      operationId: postFeedVendorV2
      summary: Create feed
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      security:
        - BasicAuth: []
        - BearerAuth: []
    parameters:
      - $ref: '#/components/parameters/contractIdParam'
  /api/2/v/contracts/{contractId}/feeds/{feedId}:
    get:
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
        - description: ID of the feed
          in: path
          name: feedId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'
          description: No response was specified
        '404':
          description: Not found
      tags:
        - feeds
      description: >-
        A feed can contain offer-related information such as price
        recommendations. Feeds can be configured to match individual demands.
      operationId: getFeed
      summary: Find feed by ID
      security:
        - BasicAuth: []
        - BearerAuth: []
    put:
      x-audience: Internal
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
        - internal
        - undocumented
        - feeds
      operationId: putFeedVendorV2
      summary: Update feed
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      security:
        - BasicAuth: []
        - BearerAuth: []
    delete:
      x-audience: Internal
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
        - internal
        - undocumented
        - feeds
      operationId: deleteFeedVendorV2
      summary: Deleted feed
      security:
        - BasicAuth: []
        - BearerAuth: []
    parameters:
      - $ref: '#/components/parameters/contractIdParam'
      - in: path
        name: feedId
        required: true
        schema:
          type: string
  /api/2/v/contracts/{contractId}/feeds/{feedId}/export/delta:
    delete:
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
        - description: ID of the feed
          in: path
          name: feedId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'
          description: No response was specified
        '404':
          description: Not found
      tags:
        - feeds
      description: >-
        Dismiss already fetched feed-entries, so they will not be part of future
        responses.
      operationId: excludeFetchedFeedData
      summary: Dismiss already fetched feed-entries
      security:
        - BasicAuth: []
        - BearerAuth: []
    get:
      x-audience: Internal
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
        - internal
        - undocumented
        - feeds
      operationId: getFeedExportDeltaVendorV2
      summary: Get delta export feed
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
        - in: path
          name: feedId
          required: true
          schema:
            type: string
        - in: query
          name: fileName
          required: false
          schema:
            type: string
      security:
        - BasicAuth: []
        - BearerAuth: []
  /api/2/v/contracts/{contractId}/feeds/{feedId}/export/delta/{fileName}:
    get:
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
        - description: ID of the feed
          in: path
          name: feedId
          required: true
          schema:
            type: string
        - description: fileName
          in: path
          name: fileName
          required: true
          schema:
            default: my-feed.csv
            type: string
      responses:
        '200':
          content:
            application/json:
[...]
