openapi: 3.1.0
info:
  contact:
    name: Omnia Retail
    url: https://www.omniaretail.com/
  title: Omnia 2.0 API
  summary: >-
    This is the API powering Omnia 2.0 and Pricemonitor, containing operations
    which can also be used directly by customers from their own systems.
  description: >
    The Omnia 2.0 API is RESTful and provides access to the backend of Omnia 2.0
    and Pricemonitor. It is used to manage products, offers, contracts and more.
  version: 0.0.6932
  x-logo:
    url: >-
      https://www.omniaretail.com/hubfs/Omnia%20Logo%20SVG/Omnia_Retail_Full_Colour_Logo_On_White_RGB.svg
    altText: Omnia Retail
  license:
    name: Omnia Retail API license
    url: https://www.omniaretail.com/legal/
servers:
  - url: https://api.patagona.de
    description: Production API
tags:
  - name: overview
    x-displayName: Overview
    x-traitTag: true
    description: >+
      Overview, explanation and pointers to the API documentation.


      ## Introduction


      The Omnia 2.0 API (also known as the Pricemonitor API) gives access to the
      superpowers behind the Omnia Retail platform.


      The [Omnia 2.0 app](https://app.omniaretail.com/) and the [Pricemonitor
      app](https://pricemonitor.patagona.de/) are the main consumers of this
      API, but we also have endpoints available to customers to integrate the
      API directly with their own systems.


      ## Common use cases for Omnia 2.0


      These are common API operations for customers to integrate Omnia with
      their own systems:

      - Retrieve market data

      - Retrieve price recommendations

      - Manage your product assortment

      - Provide offers for custom sources


      ### Retrieve market data via API


      Use [this operation](#operation/getOffersVendorV3) to retrieve the newest
      offers in the market for products for a given time range. It supports
      returning paged results. We recommend to retrieve with a page size of at
      most 1,000 products.


      ### Retrieve price recommendations via API


      Use [this operation](#operation/getPriceRecommendation) to retrieve the
      price recommendations for all products for a specified timerange. It
      supports returning paged results.


      ### Query products via API


      Use [this operation](#operation/queryProductsVendorV3) to retrieve
      products via a query. It supports returning paged results. We recommend to
      retrieve with a page size of 10,000 products.


      ### Manage your product assortment


      Use [this operation](#operation/postProductsImportVendorV3) to upload your
      product assortment in JSON format. We recommend that you provide your
      product data in multiple parts via sequential requests to this endpoint.
      After providing all data, you need to delete the old data via [this
      operation](#operation/deleteProducts) by specifying a timestamp just
      before your import.


      If you cannot use the JSON format, as a fallback, we support uploading
      your product assortment to our system in CSV format via [this
      operation](#operation/putProductsImportVendorV3).


      ### Provide offers for custom sources


      Use [this operation](#operation/postOffersInABulkVendorV2) to provide
      external offers for your products to our system.


      ## Pagination


      API endpoints can potentially return a lot of items. Returning all data as
      one response to one request can overload the server, the database or the
      client. Returning all items may even be unnecessary when the client is
      only interested in the top N entries. So API operations that could return
      a lot of data support pagination. The pagination approach used in the
      latest version of API operations is described here.


      ### Pagination basics


      Operations that support pagination:

      - Return a subset of all matching items based on parameters in the
      request. Such a subset is called a page.
        - The `limit` parameter defines the maximum number of items returned per page.
        - The `start` parameter defines which page is returned.
      - Return the requested page as an array within a `data` object within the
      response.

      - Can return all matching items by subsequently requesting multiple pages.


      There are no subsequent matching items if the number of items in a
      response is smaller than the requested `limit`.


      ### `limit` parameter


      This parameter defines how many items are returned at most in a singe
      response. This is also called the page size.


      The API documentation states the range that is allowed to be specified by
      the client.


      ### `start` parameter


      This parameter defines from which item in the total result set this
      request wants data to be returned. It basically defines what page should
      be returned. The index of the first item is 0. If the value of `start` is
      beyond the number of matching items, an empty `data` array is returned in
      the response.


      Pagination itself only works when the entries have a stable sorting. This
      is the responsibility of the API.


      ### Example of paginated requests


      To request items with a page size of 1000, these are the pagination
      parameter values to be used for subsequent requests


      | request # | start | limit |

      | --------- | ----- | ----- |

      | 1st       | 0     | 1000  |

      | 2nd       | 1000  | 1000  |

      | 3rd       | 2000  | 1000  |

      | ...                       |


      So the values for each subsequent request can be calculated by `start =
      previous start + limit`. All the other parameters of the API request must
      keep the same value to get stable sorting for a stable total result set.


      A response looks like this:



      ``` json

      {
         "data": [
            <item 1>,
            <item 2>,
            ...
         ]
      }

      ```


      The client must compare the number of items in the `data` array with the
      used `limit` parameter. If they are equal there is likely a next page. If
      the number of items returned is less than the page size, there is no next
      page.


      > Note: In rare cases there is no next page even though the response has
      no less than a page size of items. E.g. when there are 2000 total items
      and using a page size of 1000. Here the client will make a request with
      `start=1000` and `limit=1000`. The response for this 2nd page request will
      have 1000 items. Then the client can't know in advance if there are
      further pages and it has to make an additional request. This third page
      request will return an empty array.


      ## Authentication


      There are two authentication methods supported:

      - For API integration with other systems basic authentication is used.

      - The Omnia 2.0 application uses JWT bearer tokens.


      <SecurityDefinitions />


  - name: products
    x-displayName: Products Management
    description: >-
      Operations to manage your products.


      # Import products


      We have two options: Either you provide the products as
      [JSON](#operation/postProductsImportVendorV3) or as
      [CSV](#operation/putProductsImportVendorV3). The product import via
      [JSON](#operation/postProductsImportVendorV3) is recommended.


      Notes:

      - When importing products, you need to provide an unique product
      identifier. We only allow importing products when they can be uniquely
      identified. In the very past we solely relied on GTIN for that, but not
      all customers have a GTIN. So we introduced the generic concept of the
      unique product identifier.

      - When importing products, you can additionally provide _tags_. These tags
      are key/value pairs (custom fields) which can be used to categorize your
      products: E.g. you could add the brand of the product.<br />The tag names
      need to be unique and non-empty.

      - In some endpoints we use caching for up to 5 minutes. So your newly
      imported products might need up to 5 minutes to get visible.

      - Timing is important: It's recommended to import products during a period
      when no monitorings are scheduled. Otherwise, the monitoring does not
      cover the most recently added products. A subsequent monitoring run will
      cover the previously added products.


      ## Recommended tags


      To get the most value out of the Omnia 2.0 insights dashboards, we
      recommend to include the following tag-keys in your imports. These product
      attributes can be used to drill-down into market and pricing insights.


      | Key | Description of value |

      | ---- | ------------------- |

      | brand | Values should include the brand of the respective product |

      | sku | If available, you can also include the stock keeping unit
      identifier |

      | amountInStock |  If available, you can also include the current stock
      level of each product |

      | topCategory  | Your product categories, highest level |

      | midCategory  | Your product categories, mid level |

      | lowCategory  |  Your product categories, lowest level |

      | purchasePrice | The purchase price of your product |

      | imageUrl | A url containing an image of your product |

      | logisticalCost | The logistical cost of your product |

      | recommendSellingPrice | The manufacturer suggested retail price or
      recommended retail price of your product |

      | vat | The Value Added Tax (VAT) for your product |


      Notes:

      - These fields are not mandatory for a successful import. They are
      optional, but recommended, to get the most value out of the insights in
      the UI of Omnia 2.0. If you intend to use them in the recommended way

      - The keys for the tags are case sensitive, so specify exactly as above.


      ## Import products via JSON (recommended)


      The preferred way to import products via API is via
      [JSON](#operation/postProductsImportVendorV3).


      This operation adds products to our system using _upsert_ (insert or
      update). It needs to be used in conjunction with a timestamp-based
      [product deletion operation](#operation/deleteProducts).


      The delete makes sure that old products, which are not part of your
      assortment anymore, are dropped from the system.


      Typical usage pattern:

      1. Remember the current time in UTC

      2. [Add products in chunks](#operation/postProductsImportVendorV3).
      Recommended chunk size: 1,000 products

      3. [Delete old products](#operation/deleteProducts) that are not needed in
      the system anymore by the timestamp from step 1 minus some extra buffer,
      e.g. one minute.


      ## Import products via CSV (not recommended)


      In order to provide products to our system you can send a CSV file via
      [this operation](#operation/putProductsImportVendorV3). This endpoint
      deactivates all current products and activates the ones which are provided
      via CSV.


      This creates a "task" at our side. Tasks are processed asynchronously.
      Typically, a big product import with 500K products takes 5-10 minutes. The
      mentioned endpoint returns a task id and a url where you can check the
      task state. Possible task states are: pending, executing, failed and
      succeeded. The last two states are representing a completed task. The task
      itself contains more details about how many products could get imported,
      which ones failed plus a preview failure list.


      When the product import successfully completed then the previously
      imported products have been deleted and only the ones which you have
      provided via CSV file are active in our system.


      # Query products


      Use [this operation](#operation/queryProductsVendorV3) to retrieve
      products via a query you specify in the request. It supports returning
      paged results. We recommend to retrieve with a page size of up to 10,000
      products.


      # Get all products


      Use [the query operation](#operation/queryProductsVendorV3) and just omit
      the query filter in the request. Results are paginated. A page size of at
      most 10,000 is recommended.


      # Determine internal product ids from your product ids


      Our system uses internal product ids that are distinct from your products
      ids. These internal product ids are sometimes referred to as
      _pricemonitor_ product ids.


      Often API operations require internal product ids to be specified. So you
      may need to map your product id onto our internal product id.


      There are two options:

      - Either you store the internal product ids after [importing
      products](#operation/postProductsImportVendorV3) into our system. The
      import operation returns the internal product ids for each imported
      product.

      - Or you map product ids on the fly when you need to by
      [querying](#operation/queryProductsVendorV3) specifying your product ids
      in the query. It's recommended to specify 1,000 product ids at once.
  - name: pricerecommendations
    x-displayName: Price Recommendations
    description: >
      Operations to get price recommendations calculated by our system.


      # Price recommendations and multiple domains


      > Note:

      > 1. Internally the system calculates a price recommendation for every
      domain

      > 2. As aggregation the system then provides the cheapest price
      recommendation

      >

      > Within the price recommendations we are providing a field called
      `relevantDomain`. This field contains from which domain the price
      recommendation originates.


      # Retrieve price recommendations


      ## Getting all price recommendations


      You can get all price recommendations via [this
      operation](#operation/getPriceRecommendation).


      It's a paginated endpoint, so you have to request multiple pages. See
      [pagination](#section/Pagination). Recommended page size is 1000.


      It's important that you define a timerange (by providing `startTime` and
      `endTime` parameters) in order to guarantee a stable pagination. This
      endpoint returns the most recent price recommendations per product and
      domain: This means that price recommendations from older price calculation
      runs within the provided timerange are ignored.
  - name: offers
    x-displayName: Offers
    description: "Operations to get and manage offers.\n\n# Provide offers for custom sources\n\nUse [this operation](#operation/postOffersInABulkVendorV2) to provide external offers for your products to our system. This operation to add offers in bulk can be used instead of the monitoring by our system of [domains](#tag/domains) for external offers.\n\nThis operation needs the internal product ids in our system. See [how to determine internal product ids](#tag/products).\n\n## Example\n\nHere is an example of a JSON body to provide one offer for one product via API.\n\n<details>\n<summary>Click to expand</summary>\n\n``` json\n[{\n\t\"productId\": \"67784570\",\n\t\"creationDate\": \"2024-06-11T00:15:07.099Z\",\n\t\"domain\": \"google.de\",\n\t\"offers\": [{\n\t\t\"vendorName\": \"amazon.de\",\n\t\t\"vendorDomainId\": 1,\n\t\t\"url\": \"https://www.amazon.de/-/en/dp/013142467X/\",\n\t\t\"price\": 58.84,\n\t\t\"deliveryCosts\": 9.95,\n\t\t\"currency\": \"EUR\",\n\t\t\"id\": \"636354d0-c865-4c56-84b3-bd9172e826aa\",\n\t\t\"productName\": \"Test item\",\n\t\t\"attributes\": [{\n\t\t\t\"key\": \"size\",\n\t\t\t\"value\": \"L\"\n\t\t}],\n\t\t\"maxDeliveryHours\": 48,\n\t\t\"minDeliveryHours\": 12,\n\t\t\"retrievalDate\": \"2024-06-11T10:50:45.659Z\",\n\t\t\"availability\": true\n\t}]\n}]\n```\n</details>\n\n\n# Retrieve offers\n\nUse [this operation](#operation/getOffersVendorV3) to get all offers for a contract. It's a paginated endpoint, so you have to scroll through all offers.\n\nIt's important that you define a timerange (by providing `startDate` and `endDate` parameters) in order to guarantee a stable pagination.\n\nThis endpoint returns the most recent offers per product and domain: This means that offers from older monitoring runs within the provided timerange are ignored.\n\n## Continuously retrieving offers\n\nFor continuously getting market data we recommend the following usage pattern:\n\nGet the offers for the last 15 minutes with a time offset of 15 minutes.\n\n| Runtime Timestamp | startDate | endDate |\n| ----------------- | --------- | ------- |\n| 12:00 | 11:30 | 11:45 |\n| 12:15 | 11:45 | 12:00 |\n| 12:30 | 12:00 | 12:15 |\n| …                     |\n\n> Note: The time offset is important since offers are not immediately visible via the API. Sometimes there is a slight delay in offer storing.\n\n\n\n\n\n"
  - name: feeds
    x-displayName: Feeds Management
    description: Manage your data-feeds.
  - name: account
    x-displayName: Users Management
    x-audience: Internal
    description: >-
      Operations to manage user accounts.


      This includes sign up, log in, and log out. Primarily used for user
      management.


      > Note: these operations should not be directly used by customers, but by
      the platform itself or by customers through the UI.
  - name: logs
    x-displayName: Logs Management
    description: >-
      Operations to store log messages in our system.


      You could integrate this API in your own system and publish the
      integration logs to our system so that Omnia Retail could analyze them.
  - name: companies
    x-displayName: Company Management
    description: Company management related endpoints.
  - name: orders
    x-displayName: Orders Management
    description: Manage your orders.
  - name: settings
    x-displayName: Settings Management
    description: >-
      Operations to manage the settings of contracts. Very few are available to
      customers directly.
  - name: tasks
    x-displayName: Tasks Management
    description: >-
      Operations to view and manage the tasks running in the platform. Customers
      can only view tasks.


      # What tasks are


      Task are are asynchronously handled jobs in our system, like price
      calculation or monitoring jobs.


      You can use [this operation to find tasks for a
      contract](#operation/getTasksVendorV2).


      # Price calculation tasks


      A use case for the find tasks operation is to get the most recent
      completed price calculation task to see if it was successful or failed.
      And if it failed, what the failures were.


      ### Finding most recent price calculation tasks


      If you want to find the most recent completed price calculation task you
      need the following query parameters:


      ```

      limit=1

      includeFailures=true

      taskTypeFilter=backend.tasks.pricemonitor.offers.preprocessing

      taskState=succeeded,failed    // this only returns completed tasks.
      Currently running tasks are ignored

      ```


      Optional: You might want to adjust the queried timerange and specify
      `minCreationDate` and `maxCreationDate`. By default all tasks ever are
      queried.



      It can happen that there no price calculation has been run yet, then an
      empty list of tasks is returned.


      Apart from that these are the possible task states:


      | Task state | Description |

      | ---------- | ----------- |

      | succeeded | At least for one product a price calculation has been
      calculated |

      | failed | Either all price calculations for every product failed OR the
      whole price calculation process failed due to an unexpected error |


      If there are price calculation failures on a product level, you find the
      dedicated failures in the failures array of the task. Be aware: at most
      1000 failures are returned.


      If you want to have statistics for how many products a price has been
      calculated and how many price calculations failed on product level, then
      please take a look at the `result.operations.<successful/failed/total>`
      fields in the response.


      When a task completely fails then the response also provides a
      `failureCode` that is of interest.


      ### Example Responses


      #### Successful task


      <details>

      <summary>Click to expand</summary>


      ``` json

      {
        "state":"succeeded",
        "data":{
          "startTimestamp":"2023-05-08T14:40:00.213Z"
        },
        "result":{
          "operations":{
            "successful":28444,
            "failed":0,
            "total":28444
          }
        },
        "contractId":"gj8qu6",
        "failures":[

        ],
        "creationDate":"2023-05-08T15:41:46.545Z",
        "taskType":"backend.tasks.pricemonitor.offers.preprocessing",
        "finishDate":"2023-05-08T15:44:58.853Z",
        "userId":2156,
        "startDate":"2023-05-08T15:41:46.555Z",
        "taskId":"gj8qu6:1e318eee-3217-4ee7-a380-c6312935dcd1"
      }

      ```

      </details>


      #### Successful task with failures for some products


      <details>

      <summary>Click to expand</summary>


      ``` json

      {
        "state":"succeeded",
        "data":{
          "startTimestamp":"2023-05-07T10:05:00.230Z"
        },
        "result":{
          "operations":{
            "successful":2737,
            "failed":24,
            "total":2761
          }
        },
        "contractId":"f8kfq5",
        "failures":[
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282163",
              "exceptionMessage":"Can't modify min price to 21.6 since it violates the current boundary PriceBoundary(24.00,24.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57316814",
              "exceptionMessage":"Can't modify min price to 35.1 since it violates the current boundary PriceBoundary(35.15,39.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282223",
              "exceptionMessage":"Can't modify min price to 35.1 since it violates the current boundary PriceBoundary(35.15,39.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282324",
              "exceptionMessage":"Can't modify min price to 31.5 since it violates the current boundary PriceBoundary(32.18,35.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282861",
              "exceptionMessage":"Can't modify min price to 35.1 since it violates the current boundary PriceBoundary(35.15,39.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282118",
              "exceptionMessage":"Can't modify min price to 26.1 since it violates the current boundary PriceBoundary(27.73,29.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282152",
              "exceptionMessage":"Can't modify min price to 35.1 since it violates the current boundary PriceBoundary(35.15,39.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57316468",
              "exceptionMessage":"Can't modify min price to 521.1 since it violates the current boundary PriceBoundary(529.00,579.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282300",
              "exceptionMessage":"Can't modify min price to 4769.1 since it violates the current boundary PriceBoundary(4916.84,5299.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57317261",
              "exceptionMessage":"Can't modify min price to 125.10000000000001 since it violates the current boundary PriceBoundary(129.00,139.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282345",
              "exceptionMessage":"Can't modify min price to 1205.1000000000001 since it violates the current boundary PriceBoundary(1299.00,1339.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282464",
              "exceptionMessage":"Can't modify min price to 152.1 since it violates the current boundary PriceBoundary(162.84,169.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282168",
              "exceptionMessage":"Can't modify min price to 836.1 since it violates the current boundary PriceBoundary(899.00,929.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282165",
              "exceptionMessage":"Can't modify min price to 1205.1000000000001 since it violates the current boundary PriceBoundary(1299.00,1339.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282895",
              "exceptionMessage":"Can't modify min price to 1205.1000000000001 since it violates the current boundary PriceBoundary(1299.00,1339.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282307",
              "exceptionMessage":"Can't modify min price to 1205.1000000000001 since it violates the current boundary PriceBoundary(1299.00,1339.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282002",
              "exceptionMessage":"Can't modify min price to 332.1 since it violates the current boundary PriceBoundary(349.00,369.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282399",
              "exceptionMessage":"Can't modify min price to 1025.1000000000001 since it violates the current boundary PriceBoundary(1099.00,1139.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282374",
              "exceptionMessage":"Can't modify min price to 1025.1000000000001 since it violates the current boundary PriceBoundary(1099.00,1139.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282694",
              "exceptionMessage":"Can't modify min price to 836.1 since it violates the current boundary PriceBoundary(899.00,929.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282155",
              "exceptionMessage":"Can't modify min price to 836.1 since it violates the current boundary PriceBoundary(899.00,929.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282271",
              "exceptionMessage":"Can't modify min price to 836.1 since it violates the current boundary PriceBoundary(899.00,929.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282087",
              "exceptionMessage":"Can't modify min price to 1025.1000000000001 since it violates the current boundary PriceBoundary(1099.00,1139.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"57282489",
              "exceptionMessage":"Can't modify min price to 1025.1000000000001 since it violates the current boundary PriceBoundary(1099.00,1139.00)"
            }
          }
        ],
        "creationDate":"2023-05-09T10:05:00.230Z",
        "taskType":"backend.tasks.pricemonitor.offers.preprocessing",
        "finishDate":"2023-05-09T10:05:20.095Z",
        "userId":2156,
        "startDate":"2023-05-09T10:05:00.238Z",
        "taskId":"f8kfq5:44680e2e-2458-4a64-b8a4-edfd5fb2517f"
      }

      ```

      </details>


      #### Failed task with failures for all products


      <details>

      <summary>Click to expand</summary>



      ``` json

      {
        "state":"failed",
        "data":{
          "startTimestamp":"2023-05-09T04:00:02.974Z"
        },
        "result":{
          "operations":{
            "successful":0,
            "failed":93,
            "total":93
          }
        },
        "failureCode":"user.preprocessing.strategy.failure",
        "contractId":"tujamm",
        "failures":[
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"88673055",
              "exceptionMessage":"Can't modify max price to 0.0 since it violates the current boundary PriceBoundary(358.6128,1000000.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328105",
              "exceptionMessage":"Can't modify max price to 15.6975 since it violates the current boundary PriceBoundary(15.743,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328438",
              "exceptionMessage":"Can't modify max price to 62.947500000000005 since it violates the current boundary PriceBoundary(68.614,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328838",
              "exceptionMessage":"Can't modify max price to 9.397499999999999 since it violates the current boundary PriceBoundary(11.793600000000001,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356778",
              "exceptionMessage":"Can't modify max price to 555.45 since it violates the current boundary PriceBoundary(667.3758,1049.0)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763642",
              "exceptionMessage":"Can't modify max price to 335.9475 since it violates the current boundary PriceBoundary(402.94800000000004,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356961",
              "exceptionMessage":"Can't modify max price to 1154.9895000000001 since it violates the current boundary PriceBoundary(1340.1752000000001,2199.0)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68329414",
              "exceptionMessage":"Can't modify max price to 12.5475 since it violates the current boundary PriceBoundary(17.654,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763669",
              "exceptionMessage":"Can't modify max price to 10.4475 since it violates the current boundary PriceBoundary(15.2152,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328448",
              "exceptionMessage":"Can't modify max price to 98.64750000000001 since it violates the current boundary PriceBoundary(102.284,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68756226",
              "exceptionMessage":"Can't modify max price to 131.19750000000002 since it violates the current boundary PriceBoundary(152.3158,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328748",
              "exceptionMessage":"Can't modify max price to 4.1475 since it violates the current boundary PriceBoundary(4.2042,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"87832326",
              "exceptionMessage":"Can't modify max price to 12.5475 since it violates the current boundary PriceBoundary(16.1252,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68329058",
              "exceptionMessage":"Can't modify max price to 2.0475 since it violates the current boundary PriceBoundary(2.0566,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328749",
              "exceptionMessage":"Can't modify max price to 8.3475 since it violates the current boundary PriceBoundary(12.1394,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68329108",
              "exceptionMessage":"Can't modify max price to 46.14750000000001 since it violates the current boundary PriceBoundary(47.502,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356678",
              "exceptionMessage":"Can't modify max price to 418.95000000000005 since it violates the current boundary PriceBoundary(508.5262000000001,789.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"79044179",
              "exceptionMessage":"Can't modify max price to 16.7475 since it violates the current boundary PriceBoundary(19.747,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328597",
              "exceptionMessage":"Can't modify max price to 125.9475 since it violates the current boundary PriceBoundary(130.13,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763724",
              "exceptionMessage":"Can't modify max price to 12.600000000000001 since it violates the current boundary PriceBoundary(14.7056,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328344",
              "exceptionMessage":"Can't modify max price to 62.947500000000005 since it violates the current boundary PriceBoundary(63.7,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78762366",
              "exceptionMessage":"Can't modify max price to 1101.45 since it violates the current boundary PriceBoundary(1397.4142,1649.0)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"84641852",
              "exceptionMessage":"Can't modify max price to 31.4475 since it violates the current boundary PriceBoundary(39.13,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763514",
              "exceptionMessage":"Can't modify max price to 272.9475 since it violates the current boundary PriceBoundary(292.929,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78762367",
              "exceptionMessage":"Can't modify max price to 99.75 since it violates the current boundary PriceBoundary(103.77640000000001,139.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68327996",
              "exceptionMessage":"Can't modify max price to 68.1975 since it violates the current boundary PriceBoundary(71.8354,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68373053",
              "exceptionMessage":"Can't modify max price to 19.8975 since it violates the current boundary PriceBoundary(20.4932,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68865365",
              "exceptionMessage":"Can't modify max price to 488.25 since it violates the current boundary PriceBoundary(560.7420000000001,869.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328261",
              "exceptionMessage":"Can't modify max price to 57.697500000000005 since it violates the current boundary PriceBoundary(75.69380000000001,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68373051",
              "exceptionMessage":"Can't modify max price to 2.0475 since it violates the current boundary PriceBoundary(3.6946,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78762370",
              "exceptionMessage":"Can't modify max price to 2623.9500000000003 since it violates the current boundary PriceBoundary(3310.7984,3799.0)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78764192",
              "exceptionMessage":"Can't modify min price to 0.0 since it violates the current boundary PriceBoundary(0.01,1000000.00)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356770",
              "exceptionMessage":"Can't modify max price to 523.95 since it violates the current boundary PriceBoundary(606.2420000000001,949.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68566764",
              "exceptionMessage":"Can't modify max price to 3.0975 since it violates the current boundary PriceBoundary(3.5126,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"82558573",
              "exceptionMessage":"Can't modify max price to 13.5975 since it violates the current boundary PriceBoundary(22.677200000000003,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"71348897",
              "exceptionMessage":"Can't modify max price to 110.25 since it violates the current boundary PriceBoundary(130.40300000000002,159.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356779",
              "exceptionMessage":"Can't modify max price to 523.95 since it violates the current boundary PriceBoundary(597.324,929.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763130",
              "exceptionMessage":"Can't modify max price to 262.4475 since it violates the current boundary PriceBoundary(297.479,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328608",
              "exceptionMessage":"Can't modify max price to 15.6975 since it violates the current boundary PriceBoundary(18.436600000000002,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356767",
              "exceptionMessage":"Can't modify max price to 450.45000000000005 since it violates the current boundary PriceBoundary(484.66600000000005,759.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328114",
              "exceptionMessage":"Can't modify max price to 62.947500000000005 since it violates the current boundary PriceBoundary(65.52,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"88113739",
              "exceptionMessage":"Can't modify max price to 2.0475 since it violates the current boundary PriceBoundary(26.499200000000002,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"82891765",
              "exceptionMessage":"Can't modify max price to 104.9475 since it violates the current boundary PriceBoundary(164.10940000000002,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356775",
              "exceptionMessage":"Can't modify max price to 498.75 since it violates the current boundary PriceBoundary(570.9522,889.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67357075",
              "exceptionMessage":"Can't modify max price to 82.95 since it violates the current boundary PriceBoundary(100.71880000000002,119.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328424",
              "exceptionMessage":"Can't modify max price to 141.6975 since it violates the current boundary PriceBoundary(202.02,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356784",
              "exceptionMessage":"Can't modify max price to 119.7 since it violates the current boundary PriceBoundary(144.01659999999998,169.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763163",
              "exceptionMessage":"Can't modify max price to 57.697500000000005 since it violates the current boundary PriceBoundary(58.80420000000001,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763355",
              "exceptionMessage":"Can't modify max price to 15.6975 since it violates the current boundary PriceBoundary(16.616600000000002,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78762365",
              "exceptionMessage":"Can't modify max price to 681.45 since it violates the current boundary PriceBoundary(883.2278000000001,989.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"79044161",
              "exceptionMessage":"Can't modify max price to 9.397499999999999 since it violates the current boundary PriceBoundary(2682.6800000000003,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"79809361",
              "exceptionMessage":"Can't modify max price to 16.7475 since it violates the current boundary PriceBoundary(21.2394,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356786",
              "exceptionMessage":"Can't modify max price to 488.25 since it violates the current boundary PriceBoundary(560.7420000000001,879.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68329134",
              "exceptionMessage":"Can't modify max price to 16.7475 since it violates the current boundary PriceBoundary(32.123,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328205",
              "exceptionMessage":"Can't modify max price to 102.84750000000001 since it violates the current boundary PriceBoundary(119.70139999999999,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763330",
              "exceptionMessage":"Can't modify max price to 5.197500000000001 since it violates the current boundary PriceBoundary(8.5722,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763539",
              "exceptionMessage":"Can't modify max price to 125.9475 since it violates the current boundary PriceBoundary(133.2968,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763512",
              "exceptionMessage":"Can't modify max price to 24.0975 since it violates the current boundary PriceBoundary(31.668,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328857",
              "exceptionMessage":"Can't modify max price to 31.4475 since it violates the current boundary PriceBoundary(37.1826,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78762372",
              "exceptionMessage":"Can't modify max price to 114.45 since it violates the current boundary PriceBoundary(145.16320000000002,169.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328455",
              "exceptionMessage":"Can't modify max price to 136.4475 since it violates the current boundary PriceBoundary(192.37400000000002,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68647965",
              "exceptionMessage":"Can't modify max price to 26.1975 since it violates the current boundary PriceBoundary(27.937,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356782",
              "exceptionMessage":"Can't modify max price to 376.95 since it violates the current boundary PriceBoundary(397.54260000000005,619.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"79431469",
              "exceptionMessage":"Can't modify max price to 15.6975 since it violates the current boundary PriceBoundary(31.8136,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763460",
              "exceptionMessage":"Can't modify max price to 38.79750000000001 since it violates the current boundary PriceBoundary(134.64360000000002,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763601",
              "exceptionMessage":"Can't modify max price to 29.3475 since it violates the current boundary PriceBoundary(29.9936,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356833",
              "exceptionMessage":"Can't modify max price to 523.95 since it violates the current boundary PriceBoundary(617.9264,959.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68044131",
              "exceptionMessage":"Can't modify max price to 292.95 since it violates the current boundary PriceBoundary(364.6734,419.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"74301166",
              "exceptionMessage":"Can't modify max price to 166.95000000000002 since it violates the current boundary PriceBoundary(221.40300000000002,9999.0)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68329019",
              "exceptionMessage":"Can't modify max price to 6.2475000000000005 since it violates the current boundary PriceBoundary(12.776399999999999,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356722",
              "exceptionMessage":"Can't modify max price to 866.25 since it violates the current boundary PriceBoundary(1092.8736000000001,1249.0)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78764189",
              "exceptionMessage":"Can't modify max price to 52.447500000000005 since it violates the current boundary PriceBoundary(56.27440000000001,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78764000",
              "exceptionMessage":"Can't modify max price to 2.0475 since it violates the current boundary PriceBoundary(5.6602,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356768",
              "exceptionMessage":"Can't modify max price to 488.25 since it violates the current boundary PriceBoundary(560.924,879.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68329149",
              "exceptionMessage":"Can't modify max price to 20.9475 since it violates the current boundary PriceBoundary(23.0958,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"82278909",
              "exceptionMessage":"Can't modify max price to 69.2475 since it violates the current boundary PriceBoundary(114.66000000000001,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68647966",
              "exceptionMessage":"Can't modify max price to 26.1975 since it violates the current boundary PriceBoundary(27.937,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763897",
              "exceptionMessage":"Can't modify max price to 16.7475 since it violates the current boundary PriceBoundary(17.1444,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"75351547",
              "exceptionMessage":"Can't modify max price to 109.2 since it violates the current boundary PriceBoundary(128.856,239.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763641",
              "exceptionMessage":"Can't modify max price to 52.447500000000005 since it violates the current boundary PriceBoundary(60.06,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328459",
              "exceptionMessage":"Can't modify max price to 36.697500000000005 since it violates the current boundary PriceBoundary(45.427200000000006,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68328752",
              "exceptionMessage":"Can't modify max price to 20.9475 since it violates the current boundary PriceBoundary(22.8592,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763678",
              "exceptionMessage":"Can't modify max price to 204.6975 since it violates the current boundary PriceBoundary(278.46000000000004,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"74301169",
              "exceptionMessage":"Can't modify max price to 261.45 since it violates the current boundary PriceBoundary(327.63640000000004,389.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68329012",
              "exceptionMessage":"Can't modify max price to 20.9475 since it violates the current boundary PriceBoundary(23.605400000000003,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"78763855",
              "exceptionMessage":"Can't modify max price to 13.5975 since it violates the current boundary PriceBoundary(17.672200000000004,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"81749897",
              "exceptionMessage":"Can't modify max price to 292.95 since it violates the current boundary PriceBoundary(326.5262,529.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67357159",
              "exceptionMessage":"Can't modify max price to 156.45000000000002 since it violates the current boundary PriceBoundary(225.8074,229.99)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356769",
              "exceptionMessage":"Can't modify max price to 603.75 since it violates the current boundary PriceBoundary(692.3462000000001,1089.0)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68329423",
              "exceptionMessage":"Can't modify max price to 10.4475 since it violates the current boundary PriceBoundary(10.92,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"68327990",
              "exceptionMessage":"Can't modify max price to 146.9475 since it violates the current boundary PriceBoundary(148.3664,2701.87)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"67356697",
              "exceptionMessage":"Can't modify max price to 1395.45 since it violates the current boundary PriceBoundary(1826.7340000000002,1999.0)"
            }
          },
          {
            "messageId":"ProcessingFailure",
            "attributes":{
              "productId":"87832348",
              "exceptionMessage":"Can't modify max price to 10.4475 since it violates the current boundary PriceBoundary(15.834,2701.87)"
            }
          }
        ],
        "creationDate":"2023-05-09T04:00:53.558Z",
        "taskType":"backend.tasks.pricemonitor.offers.preprocessing",
        "finishDate":"2023-05-09T04:00:59.213Z",
        "userId":2156,
        "startDate":"2023-05-09T04:00:54.677Z",
        "taskId":"tujamm:49329f97-62ff-4c65-89af-062432e82095"
      }

      ```

      </details>


      #### Unexpected failed task


      <details>

      <summary>Click to expand</summary>


      ``` json

      {
        "state":"failed",
        "data":{
          "startTimestamp":"2023-05-09T08:00:01.217Z"
        },
        "failureCode":"pricemonitor.uncategorized.failure",
        "contractId":"97j8f7",
        "failures":[
          {
            "messageId":"backend.tasks.pricemonitor.offers.preprocessing.unknownFailure",
            "attributes":{
              "error":"backend.tasks.pricemonitor.offers.preprocessing.unknownFailure",
              "exception":"scala.MatchError",
              "exceptionMessage":"null"
            }
          }
        ],
        "creationDate":"2023-05-09T09:09:18.888Z",
        "taskType":"backend.tasks.pricemonitor.offers.preprocessing",
        "finishDate":"2023-05-09T09:09:19.010Z",
        "userId":2156,
        "startDate":"2023-05-09T09:09:18.898Z",
        "taskId":"97j8f7:9a026a7a-5195-4cc4-b6b5-ceeb8cb431fa"
      }

      ```

      </details>
  - name: strategy
    x-displayName: Strategies Management
    description: Operations to view and manage the pricing strategies.
  - name: scenariostrategy
    x-displayName: Scenario Strategies Management
    x-audience: Internal
    description: Operations to manage the scenario strategies.
  - name: domains
    x-displayName: Domains
    description: >-
      Operations to view all supported domains.


      A domain is an external datasource or website that contains information
      about offers for products for sale. Information like product
      characteristics and sales characterics like price, stock level and
      delivery times and costs.
  - name: controlpanel
    x-displayName: Control Panel
    x-audience: Internal
    description: Operations used by the control panel.
  - name: pluginregistration
    x-displayName: Plugin Registration
    description: Operations to view registered plugins.
  - name: looker
    x-displayName: Looker
    x-audience: Internal
    description: Operations to manage Looker dashboards.
  - name: amazon-integration
    x-displayName: Amazon Integration
    x-audience: Internal
    description: Operations to manage the Amazon integration.
  - name: monitoring-schedules
    x-displayName: Monitoring Schedules
    x-audience: Internal
    description: Operations to manage the monitoring schedules.
  - name: preprocessing
    x-displayName: Pre-processing
    x-audience: Internal
    description: Operations to manage the pre-processing.
  - name: vendor-shop-mapping
    x-displayName: Vendor Shop Mapping
    x-audience: Internal
    description: Operations to manage the vendor shop mappings.
  - name: deprecated
    x-displayName: Deprecated
    x-audience: Internal
    description: >-
      All operations that are deprecated and should not be used anymore. Also
      not internally.
  - name: internal
    x-displayName: Internal Only
    x-audience: Internal
    description: |-
      All operations not intended for direct consumption by customers.

      > Note: not directly used by customers, but by the platform itself.
  - name: undocumented
    x-displayName: Undocumented
    x-audience: Internal
    description: |-
      All operations that are not yet documented.

      > Note: all operations intended for public usage should be documented.
  - name: SchedulerOverview
    description: >-
      The Scheduler API operations allow for creating, updating, deleting and
      listing jobs for a contract.


      One can create jobs which get executed on a given schedule. The possible
      types for a job are fixed and defined in the `patagona-scheduler-core`.
      See the [README](https://github.com/patagona/scheduler) for more
      information.


      **Note:**  Scheduling job types unknown to the scheduler will result in
      errors.


      **Note:** For more information on the Dkron types, see the [API
      documentation of Dkron](https://dkron.io/api/).
    x-displayName: Scheduler Overview
    x-traitTag: true
  - name: Jobs
    description: Operations on scheduler jobs.
    x-displayName: Scheduler Jobs
paths:
  /api/v3/vendor/contracts/{contractId}/settings/repricingstrategy/history:
    x-audience: Internal
    get:
      deprecated: true
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPricingStrategyHistoryApiResponse'
          description: List of metadata of all strategy versions
      summary: Get metadata of all strategy versions for contract
      description: Get a list of metadata of all strategy versions for a contract.
      operationId: getStrategyHistory
      tags:
        - deprecated
        - strategy
      security:
        - BasicAuth: []
        - BearerAuth: []
  /api/v3/vendor/contracts/{contractId}/settings/pricingstrategies/history:
    get:
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPricingStrategyHistoryApiResponse'
          description: List of metadata of all strategy versions
      summary: Get all strategy versions metadata for contract
      description: Get a list of metadata of all strategy versions for a contract.
      operationId: getPricingStrategyHistory
      tags:
        - strategy
      security:
        - BasicAuth: []
        - BearerAuth: []
  /api/v3/vendor/contracts/{contractId}/settings/pricingstrategies/scenarios:
    x-audience: Internal
    get:
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: >-
                    #/components/schemas/ScenarioStrategyMetadataResponseApiResponse
          description: List of all scenario strategy metadata
      summary: Get all scenario strategies
      description: Get a list of all scenario strategy metadata for a contract.
      operationId: getAllScenariosMetadata
      tags:
        - scenariostrategy
        - internal
      security:
        - BasicAuth: []
        - BearerAuth: []
    post:
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostScenarioStrategyResponseApiResponse'
          description: A new scenario strategy was added
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: >-
            Strategy must be valid and consistent with the schema version.
            Required fields need to be filled.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostScenarioStrategyRequest'
        description: The scenario strategy to be stored. Including the necessary metadata.
      operationId: addPricingStrategyScenario
      summary: Add scenario strategy
      tags:
        - scenariostrategy
        - internal
      security:
        - BasicAuth: []
        - BearerAuth: []
  /api/v3/vendor/contracts/{contractId}/settings/pricingstrategies/scenarios/{scenarioId}:
    x-audience: Internal
    get:
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
        - description: ID of the required scenario strategy
          in: path
          name: scenarioId
          required: true
          schema:
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScenarioStrategyResponse'
          description: A scenario strategy
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Scenario strategy with the provided Id was not found.
      operationId: getScenarioById
      summary: Get scenario strategy
      description: Get a scenario strategy with the provided scenario id.
      tags:
        - scenariostrategy
        - internal
      security:
        - BasicAuth: []
        - BearerAuth: []
  /api/v3/domains:
    get:
      operationId: getAllDomainsV3
      summary: Get a list of all available domains (V3)
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllDomainsV3ApiResponse'
          description: A list of domains
      description: >-
        This endpoint provides all domains which are supported by our system.
        Along with other attributes we are providing the corresponding possible
        offer sources. Only domains which include the offer source
        DEFAULT_MONITORING are supported out-of-the-box by our monitoring
        pipeline.
      tags:
        - domains
      security:
        - BasicAuth: []
        - BearerAuth: []
  /controlpanel/api/v3/domains:
    x-audience: Internal
    post:
      operationId: getAllDomainsControlPanelV3
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAdminAddDomainV3ApiResponse'
          description: A new domain was added
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: >
            - Offer sources must be valid and non-empty

            - Domain must be a valid internet domain and non-empty

            - Domain name must be unique and non-empty

            - Please refer to the request schema for what constitutes valid
            offer sources and a valid domain
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/com.patagona.pricemonitor.share.api.PostAdminAddDomainBodyV3
        description: The domain to be added and its offer sources
      tags:
        - controlpanel
        - internal
      summary: Add domain
      description: Add a new domain.
      security:
        - BasicAuth: []
        - BearerAuth: []
  /version:
    x-audience: Internal
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionApiResponse'
          description: Current application version.
      tags:
        - controlpanel
        - internal
      operationId: version
      summary: Get application version
      description: Get the current application version
      security: []
  /api/1/{contractId}/products/analysis/pricerecommendations:
    x-audience: Internal
    get:
      deprecated: true
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
        - description: Where to start fetching the recommendations
          in: query
          name: start
          required: false
          example: 0
          schema:
            default: 0
            format: int32
            type: integer
        - description: Maximal number of results
          in: query
          name: limit
          required: false
          example: 100
          schema:
            default: 10000
            format: int32
            type: integer
        - description: Timestamp of the oldest results
          in: query
          name: since
          required: false
          example: '2019-01-01T00:00:00.000Z'
          schema:
            format: date-time
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPriceRecommendationsResponse'
          description: No response was specified
      tags:
        - pricerecommendations
        - deprecated
      operationId: getPriceRecommendations
      summary: Get price recommendations
      security:
        - BasicAuth: []
        - BearerAuth: []
    parameters:
      - $ref: '#/components/parameters/contractIdParam'
  /api/2/companies:
    post:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCompanyApiResponse'
          description: Information about the created company.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The company name may not be empty.
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: User already belongs to a company.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The company could not be created.
      tags:
        - companies
      operationId: createCompany
      requestBody:
        content:
          application/json:
            schema:
              type: string
        description: The company's name
        required: true
      summary: Create company
      description: Allows users without a company to create a new company.
      security:
        - BasicAuth: []
        - BearerAuth: []
  /api/2/companies/{companyId}/contracts:
    parameters:
      - $ref: '#/components/parameters/companyIdParam'
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompanyContractsApiResponse'
          description: No response was specified
      tags:
        - companies
      operationId: getCompanyContracts
      summary: Get all contracts for company
      description: Get all contracts for the given company.
      security:
        - BasicAuth: []
        - BearerAuth: []
    post:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddCompanyContractApiResponse'
          description: No response was specified
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unable to add contract for company ID
      tags:
        - companies
      operationId: addCompanyContract
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/com.patagona.pricemonitor.share.api.CreateContractRequest
        description: Contract to be added
        required: true
      summary: Add contract for company
      description: Add a contract for the given company.
      security:
        - BasicAuth: []
        - BearerAuth: []
  /api/2/m/contracts/{contractId}/settings/callbacks:
    x-audience: Internal
    parameters:
      - $ref: '#/components/parameters/contractIdParam'
    get:
      operationId: getCallbacks
      summary: Get callbacks [manufacturer]
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Callbacks'
          description: '-'
        '404':
          description: Settings for this contract don't exist yet
      tags:
        - settings
        - internal
      security:
        - BasicAuth: []
        - BearerAuth: []
    put:
      operationId: putCallbacks
      summary: Update callbacks [manufacturer]
      tags:
        - settings
        - internal
      responses:
        '200':
          description: '-'
        '404':
          description: Settings for this contract don't exist yet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Callbacks'
        description: Callbacks
        required: true
      security:
        - BasicAuth: []
        - BearerAuth: []
    delete:
      operationId: deleteCallbackSettingsManufacturerV2
      summary: Delete callbacks [manufacturer]
      tags:
        - internal
        - undocumented
        - settings
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      security:
        - BasicAuth: []
        - BearerAuth: []
  /api/2/v/contracts/{contractId}/feeds:
    get:
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Feed'
                type: array
                uniqueItems: true
          description: No response was specified
      tags:
        - feeds
      description: >-
        Feeds can contain offer-related information such as price
        recommendations. They can be configured to match individual demands.
      operationId: getFeeds
      summary: Get all feeds
      security:
        - BasicAuth: []
        - BearerAuth: []
    post:
      x-audience: Internal
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
        - internal
        - undocumented
        - feeds
      operationId: postFeedVendorV2
      summary: Create feed
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      security:
        - BasicAuth: []
        - BearerAuth: []
    parameters:
      - $ref: '#/components/parameters/contractIdParam'
  /api/2/v/contracts/{contractId}/feeds/{feedId}:
    get:
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
        - description: ID of the feed
          in: path
          name: feedId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'
          description: No response was specified
        '404':
          description: Not found
      tags:
        - feeds
      description: >-
        A feed can contain offer-related information such as price
        recommendations. Feeds can be configured to match individual demands.
      operationId: getFeed
      summary: Find feed by ID
      security:
        - BasicAuth: []
        - BearerAuth: []
    put:
      x-audience: Internal
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
        - internal
        - undocumented
        - feeds
      operationId: putFeedVendorV2
      summary: Update feed
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      security:
        - BasicAuth: []
        - BearerAuth: []
    delete:
      x-audience: Internal
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
        - internal
        - undocumented
        - feeds
      operationId: deleteFeedVendorV2
      summary: Deleted feed
      security:
        - BasicAuth: []
        - BearerAuth: []
    parameters:
      - $ref: '#/components/parameters/contractIdParam'
      - in: path
        name: feedId
        required: true
        schema:
          type: string
  /api/2/v/contracts/{contractId}/feeds/{feedId}/export/delta:
    delete:
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
        - description: ID of the feed
          in: path
          name: feedId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'
          description: No response was specified
        '404':
          description: Not found
      tags:
        - feeds
      description: >-
        Dismiss already fetched feed-entries, so they will not be part of future
        responses.
      operationId: excludeFetchedFeedData
      summary: Dismiss already fetched feed-entries
      security:
        - BasicAuth: []
        - BearerAuth: []
    get:
      x-audience: Internal
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
        - internal
        - undocumented
        - feeds
      operationId: getFeedExportDeltaVendorV2
      summary: Get delta export feed
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
        - in: path
          name: feedId
          required: true
          schema:
            type: string
        - in: query
          name: fileName
          required: false
          schema:
            type: string
      security:
        - BasicAuth: []
        - BearerAuth: []
  /api/2/v/contracts/{contractId}/feeds/{feedId}/export/delta/{fileName}:
    get:
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
        - description: ID of the feed
          in: path
          name: feedId
          required: true
          schema:
            type: string
        - description: fileName
          in: path
          name: fileName
          required: true
          schema:
            default: my-feed.csv
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'
            text/csv:
              schema:
                $ref: '#/components/schemas/Feed'
          description: No response was specified
        '404':
          description: Not found
      tags:
        - feeds
      description: >-
        In contrast of normal feeds, feed-deltas return only results, that are
        new since the last (DELETE-)request.
      operationId: getFeedExportDelta
      summary: Retrieve all feed-entries after last request
      security:
        - BasicAuth: []
        - BearerAuth: []
  /api/2/v/contracts/{contractId}/feeds/{feedId}/export/{fileName}:
    get:
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
        - description: ID of the feed
          in: path
          name: feedId
          required: true
          schema:
            type: string
        - description: fileName
          in: path
          name: fileName
          required: true
          schema:
            default: my-feed.csv
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'
            text/csv:
              schema:
                $ref: '#/components/schemas/Feed'
          description: No response was specified
        '404':
          description: Not found
      tags:
        - feeds
      description: Lets you download a file, containing all the data of the feed.
      operationId: getFeedExport
      summary: Export feed data
      security:
        - BasicAuth: []
        - BearerAuth: []
  /api/2/v/contracts/{contractId}/orders:
    post:
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostOrdersBulkApiResponse'
          description: Successfully added orders
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostOrdersBulkApiResponse'
          description: Unable to add orders
      tags:
        - orders
      operationId: postOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/com.patagona.pricemonitor.share.api.PostCustomerOrdersRequestV2
        description: Orders to be added
        required: true
      summary: Add orders in bulk
      security:
        - BasicAuth: []
        - BearerAuth: []
  /api/2/v/contracts/{contractId}/products:
    get:
      operationId: getProducts
      summary: Get all products for a contract
      description: Gets all products for a contract. Does not support pagination.
      deprecated: true
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
        - in: query
          description: Query string to filter products
          name: attributes
          required: true
          schema:
            type: string
            enum:
              - gtin
              - identifier
              - name
              - referencePrice
              - minPriceBoundary
              - maxPriceBoundary
              - tags
              - strategy
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Product'
                type: array
                uniqueItems: true
          description: No response was specified
      tags:
        - products
      security:
        - BasicAuth: []
        - BearerAuth: []
    put:
      x-audience: Internal
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      deprecated: true
      tags:
        - internal
        - undocumented
        - products
        - deprecated
      operationId: putProductsVendorV2
      summary: Update products in bulk (JSON)
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      security:
        - BasicAuth: []
        - BearerAuth: []
    parameters:
      - $ref: '#/components/parameters/contractIdParam'
  /api/2/v/contracts/{contractId}/products/csv:
    x-audience: Internal
    put:
      deprecated: true
      operationId: putCSVProducts
      summary: Set products via CSV file (V2)
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
      responses:
        '200':
          description: '-'
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskIdAndUrl'
          description: Accepted
      tags:
        - products
        - deprecated
        - internal
      description: |-
        Warning: Deletes all existing products.
                <br/>Note that this will not happen immediately. Instead, you receive the ID of a task that has been created.
                <br/>Furthermore you receive an URL which you can use to check if the task was executed successfully.
                <br>The csv file must contain following columns:
                <ul>
                  <li>productId - arbitrary string, can be used for the systems product id.</li>
                  <li>gtin - the GTIN of the product
                  <li>description - name or short description of the product
                  <li>referencePrice - arbitrary decimal number, usually the current price or recommended retail price (gross)
                  <li>minPriceBoundary - decimal number defining the lower price boundary (gross)
                  <li>maxPriceBoundary - decimal number defining the upper price boundary (gross)
                  <li>Additional columns are added as product tags. Tags are used for repricing strategies and several other
                  purpose.
                </ul>
                <br/>Column separator must be semicolon, the decimal separator must be dot. File encoding must be UTF-8.
      requestBody:
        content:
          text/csv:
            schema:
              type: string
        description: CSV file containing the products
        required: true
      security:
        - BasicAuth: []
        - BearerAuth: []
    parameters:
      - $ref: '#/components/parameters/contractIdParam'
  /api/2/v/contracts/{contractId}/result/offers:
    x-audience: Internal
    get:
      operationId: getOffers
      deprecated: true
      summary: Get all offers for all products
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
        - description: Start product index for pagination
          in: query
          name: start
          required: true
          schema:
            format: int32
            type: integer
        - description: Number of products for pagination
          in: query
          name: limit
          required: true
          schema:
            format: int32
            type: integer
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOffersResponse'
          description: No response was specified
      tags:
        - offers
        - deprecated
        - internal
      security:
        - BasicAuth: []
        - BearerAuth: []
    parameters:
      - $ref: '#/components/parameters/contractIdParam'
  /api/2/v/contracts/{contractId}/result/pricerecommendations:
    get:
      operationId: getPriceRecommendation
      summary: Get all price recommendations
      description: >-
        Gets all price recommendations for a contract for the specified
        timerange. Only the newest price recommendations are returned in case of
        multiple price recommendations per product
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
        - description: >-
            Timestamp of start of time range, formatted as ISO Date (i.e.
            2018-04-06T13:46:13Z) in UTC
          in: query
          name: startTime
          required: true
          schema:
            format: date-time
            type: string
        - description: >-
            Timestamp of end of time range, formatted as ISO Date (i.e.
            2018-04-06T13:46:13Z) in UTC
          in: query
          name: endTime
          required: true
          schema:
            format: date-time
            type: string
        - description: Start price-recommendation index for pagination
          in: query
          name: start
          required: true
          schema:
            format: int32
            type: integer
        - description: Number of price-recommendations for pagination
          in: query
          name: limit
          required: false
          schema:
            default: 100
            format: int32
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPriceRecommendationApiResponse'
          description: >-
            A paginated list of price recommendations is returned for the
            specified timerange. Only the newest price recommendations are
            returned in case of multiple price recommendations per product.
      tags:
        - pricerecommendations
      security:
        - BasicAuth: []
        - BearerAuth: []
    parameters:
      - $ref: '#/components/parameters/contractIdParam'
  /api/2/v/contracts/{contractId}/settings/domains:
    put:
      operationId: putDomains
      summary: Set domains for contract
      responses:
        '200':
          description: The domains setting for this contract was saved.
        '404':
          description: Settings for this contract do not exist yet
      tags:
        - settings
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
        description: Settings
        required: true
      security:
        - BasicAuth: []
        - BearerAuth: []
    get:
      x-audience: Internal
      operationId: getDomainsVendorV2
      summary: Get domains for contract
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringArrayResponse'
          description: A list of configured domains is returned.
      tags:
        - internal
        - settings
      security:
        - BasicAuth: []
        - BearerAuth: []
    parameters:
      - $ref: '#/components/parameters/contractIdParam'
  /api/2/v/contracts/{contractId}/tasks:
    get:
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
        - description: Ids of the tasks
          in: query
          name: taskIdsFilter
          required: false
          schema:
            type: string
        - description: Desired task type
          in: query
          name: taskTypeFilter
          required: false
          schema:
            type: string
        - description: Maximal number of results
          in: query
          name: limit
          required: false
          example: 10
          schema:
            default: 100
            format: int32
            type: integer
        - description: Flag whether to include failures in the response
          in: query
          name: includeFailures
          schema:
            type: boolean
            default: true
        - description: Comma separated task state filter
          in: query
          name: taskState
          schema:
            type: string
        - description: Oldest returned creation date in UTC
          in: query
          name: minCreationDate
          schema:
            type: string
            format: date-time
        - description: Newest returned creation date in UTC
          in: query
          name: maxCreationDate
          schema:
            type: string
            format: date-time
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TaskWithContractResourceApiResponse'
                type: array
                uniqueItems: true
          description: No response was specified
      tags:
        - tasks
      description: >-
        The search can be narrowed down by providing the IDs of the tasks,
        separated by comma
      operationId: getTasksVendorV2
      summary: Find tasks for contract [vendor]
      security:
        - BasicAuth: []
        - BearerAuth: []
    post:
      x-audience: Internal
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: Task has been created successfully
      tags:
        - internal
        - undocumented
        - tasks
      operationId: createTaskVendorV2
      summary: Create a task [vendor]
      description: Creates a new task for a vendor contract.
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/com.patagona.pricemonitor.share.api.CreateTaskBodyV2
        description: Create a new task
      security:
        - BasicAuth: []
        - BearerAuth: []
    parameters:
      - $ref: '#/components/parameters/contractIdParam'
  /api/2/v/contracts/{contractId}/tasks/{taskId}:
    get:
      operationId: getTaskVendorV2
      summary: Get task
      description: Finds a task with the specified id for the given contract.
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
        - description: Id of the task
          in: path
          name: taskId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskWithContractResourceApiResponse'
          description: No response was specified
        '404':
          description: Not found
      tags:
        - tasks
      security:
        - BasicAuth: []
        - BearerAuth: []
    put:
      x-audience: Internal
      operationId: updateTaskVendorV2
      summary: Update a task
      description: Update the task with the specified id for the given contract.
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: This is a generated entry and needs to be described.
      tags:
        - internal
        - undocumented
        - tasks
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: This is a generated entry and needs to be described.
      security:
        - BasicAuth: []
        - BearerAuth: []
    parameters:
      - $ref: '#/components/parameters/contractIdParam'
      - in: path
        name: taskId
        required: true
        schema:
          type: string
  /api/account:
    x-audience: Internal
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/com.patagona.pricemonitor.share.api.UserInfo
          description: No response was specified
      tags:
        - account
        - internal
      description: Returns the current user with its companies and contracts
      operationId: userInfo
      summary: Details of the current user
      security:
        - BasicAuth: []
        - BearerAuth: []
    post:
      responses:
        '200':
          description: No response was specified
        '201':
          description: User was created and confirmation e-mail was sent
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unable to create the user because of bad request data
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unable to create the user because of an unexpected error
      tags:
        - account
        - internal
      operationId: userSignup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSignupRequest'
        description: The user sign up data
        required: true
      summary: Create a new user account in the system
      security:
        - BasicAuth: []
        - BearerAuth: []
  /api/account/confirm/{token}:
    x-audience: Internal
    head:
      parameters:
        - in: path
          name: token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No response was specified
        '204':
          description: Confirmation token was found
        '404':
          description: No such confirmation token was found
      tags:
        - account
        - internal
      operationId: checkUserConfirmation
      summary: Check if a specific confirmation token exists
      security:
        - BasicAuth: []
        - BearerAuth: []
    post:
      parameters:
        - in: path
          name: token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No response was specified
        '204':
          description: User was confirmed & logged in
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unable to confirm the user because of bad request data
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Unable to confirm the user because of an unexpected error
      tags:
        - account
        - internal
      operationId: confirmUser
      requestBody:
        content:
          application/json:
            schema:
              type: string
        description: The password that should be set on the confirmed user
        required: true
      summary: Confirm an unconfirmed user
      security:
        - BasicAuth: []
        - BearerAuth: []
    parameters:
      - in: path
        name: token
        required: true
        schema:
          type: string
  /api/v3/manufacturer/contracts/{contractId}/offers:
    x-audience: Internal
    get:
      summary: Get offers for timerange
      description: Returns the newest offers for a given time range.
      operationId: getOffersManufacturerV3
      parameters:
        - $ref: '#/components/parameters/contractIdParam'
        - description: Where to start fetching the products
          in: query
          name: start
          required: false
          schema:
            default: 0
            format: int32
            type: integer
        - description: Maximum number of results
          in: query
          name: limit
          required: false
          example: 1000
          schema:
            default: 1000
            format: int32
            type: integer
        - description: Whether to return tags of products or not.
          in: query
          name: includeTags
          required: false
          schema:
            default: true
            type: boolean
        - $ref: '#/components/parameters/startDate'
[...]
